# MEH Pharmacy Department

## Step 1: Import necessary packages

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.max_columns', None)

## Data Cleaning

## Step 2: Read and combine all excel tabs into one

In [5]:
#Combining all Excel sheets into one --Assuming all have the same headers, else append

f = '../../Data/Pharmacy Dept/MEH TTO Data/MEH TTO Data.xlsx'
df = pd.read_excel(f, sheet_name=None)
df2 = pd.concat(df, ignore_index=True)

df2.head()

,Date_x0028_Checked_x0029_,Date_x0028_Dispensed_x0029_,Date_x0028_Dispensing_x0029_,Date_x0028_Verified_x0029_,OfficeHours,TTOTAT,TTOTimeIn,TTOWardIn,Title,Date_x0028_Pharm_x0029_,Date_x0028_Pigeon_x0029_,Date_x0028_NurseDispensed_x0029_,Date_x0028_PassedNurse_x0029_,Date(Verified),Date(Checked),Date(Dispensing),Date(PassedNurse),Date(Pigeon),Date(Pharm),Date(Dispensed),TTOWeek,DurationOverdue,Item Type,Path,Weekday,TAT,Time Verified,Office Hours?,Office Hours,Column1,Column2,Column3,Column4,Case,TTODay
0,2021-4-01T00:25:00.000Z,2021-4-01T00:46:00.000Z,2021-4-01T00:45:00.000Z,2021-4-01T00:02:00.000Z,No,44.0,08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-4-01T00:29:00.000Z,2021-4-01T00:56:00.000Z,2021-4-01T00:46:00.000Z,2021-4-01T00:28:00.000Z,No,28.0,08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-4-01T01:02:00.000Z,2021-4-01T01:42:00.000Z,2021-4-01T01:05:00.000Z,2021-4-01T00:44:00.000Z,Yes,58.0,08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-4-01T00:54:00.000Z,2021-4-01T03:09:00.000Z,2021-4-01T03:08:00.000Z,2021-4-01T00:45:00.000Z,Yes,10.0,08:45:00,4A,2021026492-a1686aa,2021-4-01T01:42:00.000Z,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-4-01T01:01:00.000Z,NaN,NaN,2021-4-01T00:48:00.000Z,Yes,NaN,08:48:00,Dayward,2021029372-898d040,NaN,2021-4-01T01:02:00.000Z,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11635 entries, 0 to 11634
Data columns (total 35 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date_x0028_Checked_x0029_         6943 non-null   object
 1   Date_x0028_Dispensed_x0029_       3616 non-null   object
 2   Date_x0028_Dispensing_x0029_      3766 non-null   object
 3   Date_x0028_Verified_x0029_        6943 non-null   object
 4   OfficeHours                       9345 non-null   object
 5   TTOTAT                            3616 non-null   float64
 6   TTOTimeIn                         6943 non-null   object
 7   TTOWardIn                         11635 non-null  object
 8   Title                             10424 non-null  object
 9   Date_x0028_Pharm_x0029_           1389 non-null   object
 10  Date_x0028_Pigeon_x0029_          3187 non-null   object
 11  Date_x0028_NurseDispensed_x0029_  960 non-null    object
 12  Date_x0028_PassedNurse_x0029_     175 non-null    object
 13  Date(Verified)                    4692 non-null   datetime64[ns]
 14  Date(Checked)                     4627 non-null   datetime64[ns]
 15  Date(Dispensing)                  2383 non-null   datetime64[ns]
 16  Date(PassedNurse)                 106 non-null    datetime64[ns]
 17  Date(Pigeon)                      2243 non-null   datetime64[ns]
 18  Date(Pharm)                       844 non-null    datetime64[ns]
 19  Date(Dispensed)                   2339 non-null   datetime64[ns]
 20  TTOWeek                           3477 non-null   float64
 21  DurationOverdue                   2402 non-null   object
 22  Item Type                         3481 non-null   object
 23  Path                              3481 non-null   object
 24  Weekday                           2402 non-null   float64
 25  TAT                               2402 non-null   float64
 26  Time Verified                     2402 non-null   float64
 27  Office Hours?                     1170 non-null   object
 28  Office Hours                      1232 non-null   object
 29  Column1                           1079 non-null   float64
 30  Column2                           1079 non-null   float64
 31  Column3                           1079 non-null   float64
 32  Column4                           1079 non-null   object
 33  Case                              1211 non-null   float64
 34  TTODay                            5584 non-null   object
dtypes: datetime64[ns](7), float64(9), object(19)
memory usage: 3.1+ MB

## Step 3: Drop unnecessary columns

In [7]:
#drop unnecessary columns
df2.drop(['DurationOverdue', 'Item Type', 'Path', 'Weekday', 'TAT', 'Column1', 'Column2', 'Column3', 'Column4', 'TTODay', 'TTOWeek', 'Office Hours?', 'Office Hours', 'OfficeHours', 'TTOTAT'], axis=1, inplace=True)

## Step 4: Re-format of Columns and Data

Concat same column headers (with different names) and append as new rows

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11635 entries, 0 to 11634
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date_x0028_Checked_x0029_         6943 non-null   object
 1   Date_x0028_Dispensed_x0029_       3616 non-null   object
 2   Date_x0028_Dispensing_x0029_      3766 non-null   object
 3   Date_x0028_Verified_x0029_        6943 non-null   object
 4   TTOTimeIn                         6943 non-null   object
 5   TTOWardIn                         11635 non-null  object
 6   Title                             10424 non-null  object
 7   Date_x0028_Pharm_x0029_           1389 non-null   object
 8   Date_x0028_Pigeon_x0029_          3187 non-null   object
 9   Date_x0028_NurseDispensed_x0029_  960 non-null    object
 10  Date_x0028_PassedNurse_x0029_     175 non-null    object
 11  Date(Verified)                    4692 non-null   datetime64[ns]
 12  Date(Checked)                     4627 non-null   datetime64[ns]
 13  Date(Dispensing)                  2383 non-null   datetime64[ns]
 14  Date(PassedNurse)                 106 non-null    datetime64[ns]
 15  Date(Pigeon)                      2243 non-null   datetime64[ns]
 16  Date(Pharm)                       844 non-null    datetime64[ns]
 17  Date(Dispensed)                   2339 non-null   datetime64[ns]
 18  Time Verified                     2402 non-null   float64
 19  Case                              1211 non-null   float64
dtypes: datetime64[ns](7), float64(2), object(11)
memory usage: 1.8+ MB

## Step 5: Create Set 1 df with Apr, Nov, Dec 2021, Jan, Feb 2022 Data

In [9]:
#April, Nov, Dec 2021, Jan, Feb 2022

df_set1 =  df2[df2['Date_x0028_Verified_x0029_'].notnull()]
df_set1

,Date_x0028_Checked_x0029_,Date_x0028_Dispensed_x0029_,Date_x0028_Dispensing_x0029_,Date_x0028_Verified_x0029_,TTOTimeIn,TTOWardIn,Title,Date_x0028_Pharm_x0029_,Date_x0028_Pigeon_x0029_,Date_x0028_NurseDispensed_x0029_,Date_x0028_PassedNurse_x0029_,Date(Verified),Date(Checked),Date(Dispensing),Date(PassedNurse),Date(Pigeon),Date(Pharm),Date(Dispensed),Time Verified,Case
0,2021-4-01T00:25:00.000Z,2021-4-01T00:46:00.000Z,2021-4-01T00:45:00.000Z,2021-4-01T00:02:00.000Z,08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
1,2021-4-01T00:29:00.000Z,2021-4-01T00:56:00.000Z,2021-4-01T00:46:00.000Z,2021-4-01T00:28:00.000Z,08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
2,2021-4-01T01:02:00.000Z,2021-4-01T01:42:00.000Z,2021-4-01T01:05:00.000Z,2021-4-01T00:44:00.000Z,08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
3,2021-4-01T00:54:00.000Z,2021-4-01T03:09:00.000Z,2021-4-01T03:08:00.000Z,2021-4-01T00:45:00.000Z,08:45:00,4A,2021026492-a1686aa,2021-4-01T01:42:00.000Z,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
4,2021-4-01T01:01:00.000Z,NaN,NaN,2021-4-01T00:48:00.000Z,08:48:00,Dayward,2021029372-898d040,NaN,2021-4-01T01:02:00.000Z,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2022-01-26T00:15:00.000Z,NaN,NaN,2022-01-26T00:05:00.000Z,08:05:00,Dayward,2022006310-fd1b32c,NaN,2022-01-26T00:15:00.000Z,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
11631,2022-01-26T01:05:00.000Z,2022-01-26T01:07:00.000Z,2022-01-26T01:06:00.000Z,2022-01-26T00:32:00.000Z,08:32:00,4D,2022005913-2c6a6ef,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
11632,2022-01-26T00:47:00.000Z,2022-01-26T01:10:00.000Z,2022-01-26T01:06:00.000Z,2022-01-26T00:33:00.000Z,08:33:00,8,2022005617-8e1291e,NaN,NaN,NaN,2022-01-26T01:08:00.000Z,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
11633,2022-01-26T00:57:00.000Z,2022-01-27T04:16:00.000Z,2022-01-27T04:04:00.000Z,2022-01-26T00:46:00.000Z,08:46:00,4B,2022004893-fb71fc3,2022-01-26T01:05:00.000Z,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
11634,2022-01-26T00:56:00.000Z,2022-01-27T04:01:00.000Z,2022-01-27T03:45:00.000Z,2022-01-26T00:45:00.000Z,08:45:00,4A,2021096247-61fc405,2022-01-26T00:57:00.000Z,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN

## Step 6: Drop unnecessary columns that do not belong to Set 1 df

In [10]:
#remove unnecessary columns that do not belong to set1

df_set1.drop(['Date(Verified)', 'Date(Checked)', 'Date(Dispensing)', 'Date(PassedNurse)', 'Date(Pigeon)', 'Date(Pharm)', 'Date(Dispensed)', 'Time Verified', 'Case', 'TTOTimeIn'], axis=1, inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
df_set1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6943 entries, 0 to 11634
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date_x0028_Checked_x0029_         6943 non-null   object
 1   Date_x0028_Dispensed_x0029_       3616 non-null   object
 2   Date_x0028_Dispensing_x0029_      3766 non-null   object
 3   Date_x0028_Verified_x0029_        6943 non-null   object
 4   TTOWardIn                         6943 non-null   object
 5   Title                             6943 non-null   object
 6   Date_x0028_Pharm_x0029_           1389 non-null   object
 7   Date_x0028_Pigeon_x0029_          3187 non-null   object
 8   Date_x0028_NurseDispensed_x0029_  960 non-null    object
 9   Date_x0028_PassedNurse_x0029_     175 non-null    object
dtypes: object(10)
memory usage: 596.7+ KB

## Step 7: Rename Columns for future standardization

In [12]:
#Rename Columns for future standardization
set1_new_cols_name = {  'Date_x0028_Checked_x0029_': 'DateTime TTO Checked',
                        'Date_x0028_Dispensed_x0029_': 'DateTime TTO Dispensed',
                        'Date_x0028_Dispensing_x0029_': 'DateTime (Dispensing)',
                        'Date_x0028_Verified_x0029_': 'DateTime TTO Received',
                        'TTOWardIn': 'Ward',
                        'Title': 'Case Number',
                        'Date_x0028_Pharm_x0029_': 'DateTime (in Pharmacy)',
                        'Date_x0028_Pigeon_x0029_': 'DateTime (in Pigeon)', 
                        'Date_x0028_NurseDispensed_x0029_': 'DateTime (Dispensed by Nurses)',
                        'Date_x0028_PassedNurse_x0029_': 'DateTime (Passed to Nurse)'}

df_set1.rename(columns=set1_new_cols_name, inplace=True)

df_set1.head()

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse)
0,2021-4-01T00:25:00.000Z,2021-4-01T00:46:00.000Z,2021-4-01T00:45:00.000Z,2021-4-01T00:02:00.000Z,7,2021029472-20e1d00,NaN,NaN,NaN,NaN
1,2021-4-01T00:29:00.000Z,2021-4-01T00:56:00.000Z,2021-4-01T00:46:00.000Z,2021-4-01T00:28:00.000Z,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN
2,2021-4-01T01:02:00.000Z,2021-4-01T01:42:00.000Z,2021-4-01T01:05:00.000Z,2021-4-01T00:44:00.000Z,4B,2021029518-31da567,NaN,NaN,NaN,NaN
3,2021-4-01T00:54:00.000Z,2021-4-01T03:09:00.000Z,2021-4-01T03:08:00.000Z,2021-4-01T00:45:00.000Z,4A,2021026492-a1686aa,2021-4-01T01:42:00.000Z,NaN,NaN,NaN
4,2021-4-01T01:01:00.000Z,NaN,NaN,2021-4-01T00:48:00.000Z,Dayward,2021029372-898d040,NaN,2021-4-01T01:02:00.000Z,NaN,NaN

## Step 8: Change DateTime ISO format to +08:00 for all relevant columns

In [13]:
df_set1['DateTime TTO Checked'] = pd.to_datetime(df_set1['DateTime TTO Checked']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')
df_set1['DateTime TTO Dispensed'] = pd.to_datetime(df_set1['DateTime TTO Dispensed']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')
df_set1['DateTime (Dispensing)'] = pd.to_datetime(df_set1['DateTime (Dispensing)']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')
df_set1['DateTime TTO Received'] = pd.to_datetime(df_set1['DateTime TTO Received']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')
df_set1['DateTime (in Pharmacy)'] = pd.to_datetime(df_set1['DateTime (in Pharmacy)']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')
df_set1['DateTime (in Pigeon)'] = pd.to_datetime(df_set1['DateTime (in Pigeon)']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')
df_set1['DateTime (Dispensed by Nurses)'] = pd.to_datetime(df_set1['DateTime (Dispensed by Nurses)']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')
df_set1['DateTime (Passed to Nurse)'] = pd.to_datetime(df_set1['DateTime (Passed to Nurse)']).dt.tz_convert('Asia/Singapore').dt.strftime('%Y-%m-%d %H:%M:%S')

df_set1.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaN,NaN,NaN
4,2021-04-01 09:01:00,NaN,NaN,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaN,2021-04-01 09:02:00,NaN,NaN

## Step 9: Create Set 2 df with May, June, Aug 2021 Data

In [14]:
#May, June, Aug 2021

df_set2 = df2[df2['Date(Verified)'].notnull() & df2['Case'].isnull()]
df_set2

,Date_x0028_Checked_x0029_,Date_x0028_Dispensed_x0029_,Date_x0028_Dispensing_x0029_,Date_x0028_Verified_x0029_,TTOTimeIn,TTOWardIn,Title,Date_x0028_Pharm_x0029_,Date_x0028_Pigeon_x0029_,Date_x0028_NurseDispensed_x0029_,Date_x0028_PassedNurse_x0029_,Date(Verified),Date(Checked),Date(Dispensing),Date(PassedNurse),Date(Pigeon),Date(Pharm),Date(Dispensed),Time Verified,Case
1359,NaN,NaN,NaN,NaN,NaN,4D,2021032395-13197,NaN,NaN,NaN,NaN,2021-05-01 07:09:00,2021-05-01 08:06:00,2021-05-01 08:08:00,NaT,2021-05-01 08:09:00,NaT,NaT,7.15,NaN
1360,NaN,NaN,NaN,NaN,NaN,5C,2021032301-13198,NaN,NaN,NaN,NaN,2021-05-01 07:44:00,2021-05-01 08:03:00,NaT,NaT,2021-05-01 08:26:00,NaT,NaT,7.73,NaN
1361,NaN,NaN,NaN,NaN,NaN,5D,2021032413-13199,NaN,NaN,NaN,NaN,2021-05-01 07:53:00,2021-05-01 08:04:00,NaT,NaT,2021-05-01 08:26:00,NaT,NaT,7.88,NaN
1362,NaN,NaN,NaN,NaN,NaN,4A,2021027944-13200,NaN,NaN,NaN,NaN,2021-05-01 08:01:00,2021-05-01 08:10:00,NaT,NaT,2021-05-01 08:10:00,NaT,NaT,8.02,NaN
1363,NaN,NaN,NaN,NaN,NaN,5D,2021031622-13201,NaN,NaN,NaN,NaN,2021-05-01 08:10:00,2021-05-01 08:19:00,NaT,NaT,2021-05-01 08:27:00,NaT,NaT,8.17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4835,NaN,NaN,NaN,NaN,NaN,Dayward,2021065086-f532a03,NaN,NaN,NaN,NaN,2021-09-03 14:24:00,2021-09-03 14:32:00,NaT,NaT,2021-09-03 14:36:00,NaT,NaT,NaN,NaN
4836,NaN,NaN,NaN,NaN,NaN,Dayward,2021065086-76095ef,NaN,NaN,NaN,NaN,2021-09-03 14:38:00,2021-09-03 14:50:00,NaT,NaT,2021-09-03 14:51:00,NaT,NaT,NaN,NaN
4837,NaN,NaN,NaN,NaN,NaN,Dayward,2021065109-c084796,NaN,NaN,NaN,NaN,2021-09-03 15:05:00,2021-09-03 15:43:00,NaT,NaT,2021-09-03 15:43:00,NaT,NaT,NaN,NaN
4838,NaN,NaN,NaN,NaN,NaN,4D,2021064954-7fe7373,NaN,NaN,NaN,NaN,2021-09-03 15:38:00,2021-09-03 15:48:00,NaT,NaT,NaT,2021-09-03 15:49:00,NaT,NaN,NaN
4839,NaN,NaN,NaN,NaN,NaN,Endoscopy,2021065357-33fcc5a,NaN,NaN,NaN,NaN,2021-09-03 15:42:00,2021-09-03 15:44:00,NaT,NaT,2021-09-03 15:44:00,NaT,NaT,NaN,NaN

## Step 10: Remove unnecessary columns that do not belong to Set2

In [15]:
df_set2.drop(['Date_x0028_Checked_x0029_', 'Date_x0028_Dispensed_x0029_', 'Date_x0028_Dispensing_x0029_', 'Date_x0028_Verified_x0029_', 'TTOTimeIn', 'Date_x0028_Pharm_x0029_', 'Date_x0028_Pigeon_x0029_', 'Date_x0028_NurseDispensed_x0029_', 'Date_x0028_PassedNurse_x0029_', 'Case', 'Time Verified'], axis=1, inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
df_set2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3481 entries, 1359 to 4839
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TTOWardIn          3481 non-null   object
 1   Title              3481 non-null   object
 2   Date(Verified)     3481 non-null   datetime64[ns]
 3   Date(Checked)      3441 non-null   datetime64[ns]
 4   Date(Dispensing)   1758 non-null   datetime64[ns]
 5   Date(PassedNurse)  68 non-null     datetime64[ns]
 6   Date(Pigeon)       1700 non-null   datetime64[ns]
 7   Date(Pharm)        665 non-null    datetime64[ns]
 8   Date(Dispensed)    1722 non-null   datetime64[ns]
dtypes: datetime64[ns](7), object(2)
memory usage: 272.0+ KB

## Step 11: Rename Columns for future standardization

In [17]:
set2_new_cols_name = {  'TTOWardIn': 'Ward',
                        'Title': 'Case Number',
                        'Date(Verified)': 'DateTime TTO Received',
                        'Date(Checked)': 'DateTime TTO Checked',
                        'Date(Dispensing)': 'DateTime (Dispensing)',
                        'Date(PassedNurse)': 'DateTime (Passed to Nurse)',
                        'Date(Pigeon)': 'DateTime (in Pigeon)',
                        'Date(Pharm)': 'DateTime (in Pharmacy)',
                        'Date(Dispensed)': 'DateTime TTO Dispensed'}

df_set2.rename(columns=set2_new_cols_name, inplace=True)

df_set2.head()

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Ward,Case Number,DateTime TTO Received,DateTime TTO Checked,DateTime (Dispensing),DateTime (Passed to Nurse),DateTime (in Pigeon),DateTime (in Pharmacy),DateTime TTO Dispensed
1359,4D,2021032395-13197,2021-05-01 07:09:00,2021-05-01 08:06:00,2021-05-01 08:08:00,NaT,2021-05-01 08:09:00,NaT,NaT
1360,5C,2021032301-13198,2021-05-01 07:44:00,2021-05-01 08:03:00,NaT,NaT,2021-05-01 08:26:00,NaT,NaT
1361,5D,2021032413-13199,2021-05-01 07:53:00,2021-05-01 08:04:00,NaT,NaT,2021-05-01 08:26:00,NaT,NaT
1362,4A,2021027944-13200,2021-05-01 08:01:00,2021-05-01 08:10:00,NaT,NaT,2021-05-01 08:10:00,NaT,NaT
1363,5D,2021031622-13201,2021-05-01 08:10:00,2021-05-01 08:19:00,NaT,NaT,2021-05-01 08:27:00,NaT,NaT

## Step 12: Change datetime64[ns] to object

In [18]:
df_set2['DateTime TTO Received'] = df_set2['DateTime TTO Received'].astype(object)
df_set2['DateTime TTO Checked'] = df_set2['DateTime TTO Checked'].astype(object)
df_set2['DateTime (Dispensing)'] = df_set2['DateTime (Dispensing)'].astype(object)
df_set2['DateTime (Passed to Nurse)'] = df_set2['DateTime (Passed to Nurse)'].astype(object)
df_set2['DateTime (in Pigeon)'] = df_set2['DateTime (in Pigeon)'].astype(object)
df_set2['DateTime (in Pharmacy)'] = df_set2['DateTime (in Pharmacy)'].astype(object)
df_set2['DateTime TTO Dispensed'] = df_set2['DateTime TTO Dispensed'].astype(object)

df_set2.info()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3481 entries, 1359 to 4839
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ward                        3481 non-null   object
 1   Case Number                 3481 non-null   object
 2   DateTime TTO Received       3481 non-null   object
 3   DateTime TTO Checked        3441 non-null   object
 4   DateTime (Dispensing)       1758 non-null   object
 5   DateTime (Passed to Nurse)  68 non-null     object
 6   DateTime (in Pigeon)        1700 non-null   object
 7   DateTime (in Pharmacy)      665 non-null    object
 8   DateTime TTO Dispensed      1722 non-null   object
dtypes: object(9)
memory usage: 272.0+ KB

## Step 13: Create Set 3 df with Sept 2021 Data

In [19]:
df_set3 = df2[df2['Date(Verified)'].notnull() & df2['Case'].notnull()]
df_set3

,Date_x0028_Checked_x0029_,Date_x0028_Dispensed_x0029_,Date_x0028_Dispensing_x0029_,Date_x0028_Verified_x0029_,TTOTimeIn,TTOWardIn,Title,Date_x0028_Pharm_x0029_,Date_x0028_Pigeon_x0029_,Date_x0028_NurseDispensed_x0029_,Date_x0028_PassedNurse_x0029_,Date(Verified),Date(Checked),Date(Dispensing),Date(PassedNurse),Date(Pigeon),Date(Pharm),Date(Dispensed),Time Verified,Case
4840,NaN,NaN,NaN,NaN,NaN,5A,NaN,NaN,NaN,NaN,NaN,2021-09-01 07:08:00,2021-09-01 07:55:00,2021-09-01 08:30:28,NaT,NaT,NaT,2021-09-01 08:38:00,NaN,2.021060e+09
4841,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,2021-09-01 07:35:00,2021-09-01 08:04:00,2021-09-01 08:30:27,NaT,NaT,NaT,2021-09-01 08:45:00,NaN,2.021060e+09
4842,NaN,NaN,NaN,NaN,NaN,Dayward,NaN,NaN,NaN,NaN,NaN,2021-09-01 07:51:00,2021-09-01 08:04:00,NaT,NaT,2021-09-01 08:04:00,NaT,NaT,NaN,2.021061e+09
4843,NaN,NaN,NaN,NaN,NaN,5B,NaN,NaN,NaN,NaN,NaN,2021-08-31 17:32:00,2021-08-31 17:45:00,2021-09-01 08:34:00,NaT,NaT,2021-08-31 17:45:00,2021-09-01 08:44:00,NaN,2.021061e+09
4844,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,2021-09-01 08:35:00,2021-09-01 08:51:00,2021-09-01 08:54:07,NaT,NaT,NaT,2021-09-01 09:04:00,NaN,2.021061e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6046,NaN,NaN,NaN,NaN,NaN,4D,NaN,NaN,NaN,NaN,NaN,2021-09-30 23:13:00,2021-09-30 23:14:00,NaT,NaT,NaT,NaT,2021-09-30 23:15:00,NaN,2.021068e+09
6047,NaN,NaN,NaN,NaN,NaN,5B,NaN,NaN,NaN,NaN,NaN,2021-10-01 08:01:00,2021-10-01 08:31:00,2021-10-01 08:31:00,NaT,NaT,NaT,2021-10-01 08:43:00,NaN,2.021068e+09
6048,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,2021-10-01 08:18:00,2021-10-01 08:29:00,2021-10-01 08:31:00,NaT,NaT,NaT,2021-10-01 08:37:00,NaN,2.021069e+09
6049,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,2021-10-01 08:34:00,2021-10-01 08:40:00,2021-10-01 08:44:00,NaT,NaT,2021-10-01 08:56:00,NaT,NaN,2.021069e+09
6050,NaN,NaN,NaN,NaN,NaN,4C,NaN,NaN,NaN,NaN,NaN,2021-10-01 08:44:00,NaT,NaT,NaT,NaT,NaT,NaT,NaN,2.021068e+09

## Step 14: Remove unnecessary columns that do not belong to Set3

In [20]:
df_set3.drop(['Date_x0028_Checked_x0029_', 'Date_x0028_Dispensed_x0029_', 'Date_x0028_Dispensing_x0029_', 'Date_x0028_Verified_x0029_', 'TTOTimeIn', 'Date_x0028_Pharm_x0029_', 'Date_x0028_Pigeon_x0029_', 'Date_x0028_NurseDispensed_x0029_', 'Date_x0028_PassedNurse_x0029_', 'Title', 'Time Verified'], axis=1, inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [21]:
df_set3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1211 entries, 4840 to 6050
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TTOWardIn          1211 non-null   object
 1   Date(Verified)     1211 non-null   datetime64[ns]
 2   Date(Checked)      1186 non-null   datetime64[ns]
 3   Date(Dispensing)   625 non-null    datetime64[ns]
 4   Date(PassedNurse)  38 non-null     datetime64[ns]
 5   Date(Pigeon)       543 non-null    datetime64[ns]
 6   Date(Pharm)        179 non-null    datetime64[ns]
 7   Date(Dispensed)    617 non-null    datetime64[ns]
 8   Case               1211 non-null   float64
dtypes: datetime64[ns](7), float64(1), object(1)
memory usage: 94.6+ KB

## Step 15: Rename Columns for future standardization

In [22]:
set3_new_cols_name = {  'TTOWardIn': 'Ward',
                        'Case': 'Case Number',
                        'Date(Verified)': 'DateTime TTO Received',
                        'Date(Checked)': 'DateTime TTO Checked',
                        'Date(Dispensing)': 'DateTime (Dispensing)',
                        'Date(PassedNurse)': 'DateTime (Passed to Nurse)',
                        'Date(Pigeon)': 'DateTime (in Pigeon)',
                        'Date(Pharm)': 'DateTime (in Pharmacy)',
                        'Date(Dispensed)': 'DateTime TTO Dispensed'}

df_set3.rename(columns=set3_new_cols_name, inplace=True)

df_set3.head()

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Ward,DateTime TTO Received,DateTime TTO Checked,DateTime (Dispensing),DateTime (Passed to Nurse),DateTime (in Pigeon),DateTime (in Pharmacy),DateTime TTO Dispensed,Case Number
4840,5A,2021-09-01 07:08:00,2021-09-01 07:55:00,2021-09-01 08:30:28,NaT,NaT,NaT,2021-09-01 08:38:00,2.021060e+09
4841,6,2021-09-01 07:35:00,2021-09-01 08:04:00,2021-09-01 08:30:27,NaT,NaT,NaT,2021-09-01 08:45:00,2.021060e+09
4842,Dayward,2021-09-01 07:51:00,2021-09-01 08:04:00,NaT,NaT,2021-09-01 08:04:00,NaT,NaT,2.021061e+09
4843,5B,2021-08-31 17:32:00,2021-08-31 17:45:00,2021-09-01 08:34:00,NaT,NaT,2021-08-31 17:45:00,2021-09-01 08:44:00,2.021061e+09
4844,7,2021-09-01 08:35:00,2021-09-01 08:51:00,2021-09-01 08:54:07,NaT,NaT,NaT,2021-09-01 09:04:00,2.021061e+09

## Step 16: Merge 3 Sets into dfinal

In [23]:
dfinal = pd.concat([df_set1, df_set2, df_set3]).reset_index()
dfinal.drop('index', axis=1, inplace=True)

dfinal

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaN,NaN,NaN
4,2021-04-01 09:01:00,NaN,NaN,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaN,2021-04-01 09:02:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2.02107e+09,NaT,NaT,NaN,NaT
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2.02107e+09,NaT,NaT,NaN,NaT
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2.02107e+09,NaT,NaT,NaN,NaT
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2.02107e+09,2021-10-01 08:56:00,NaT,NaN,NaT
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2.02107e+09,NaT,NaT,NaN,NaT

## Step 17: Export Re-format to CSV

In [24]:
#export to csv
dfinal.to_csv('../../Data/Pharmacy Dept/Data Cleaning/MEH_TTO_Data_Merged.csv', header=True, index=False)

## Data Cleaning

## Step 18: Read Merged Data

In [25]:
#read csv for further cleaning
dfinal_csv = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/MEH_TTO_Data_Merged.csv')
dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaN,NaN,NaN
4,2021-04-01 09:01:00,NaN,NaN,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaN,2021-04-01 09:02:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaN,2021-09-30 23:13:00,4D,2021067975.0,NaN,NaN,NaN,NaN
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaN,NaN,NaN,NaN
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaN,NaN,NaN,NaN
11633,2021-10-01 08:40:00,NaN,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaN,NaN,NaN
11634,NaN,NaN,NaN,2021-10-01 08:44:00,4C,2021067951.0,NaN,NaN,NaN,NaN

In [26]:
dfinal_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11635 entries, 0 to 11634
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   DateTime TTO Checked            11570 non-null  object
 1   DateTime TTO Dispensed          5955 non-null   object
 2   DateTime (Dispensing)           6149 non-null   object
 3   DateTime TTO Received           11635 non-null  object
 4   Ward                            11635 non-null  object
 5   Case Number                     11635 non-null  object
 6   DateTime (in Pharmacy)          2233 non-null   object
 7   DateTime (in Pigeon)            5430 non-null   object
 8   DateTime (Dispensed by Nurses)  960 non-null    object
 9   DateTime (Passed to Nurse)      281 non-null    object
dtypes: object(10)
memory usage: 909.1+ KB

## Step 19: Fix Data Type(s) for Time

In [27]:
#Change all Time Column to datetime
dfinal_csv['DateTime TTO Checked'] = pd.to_datetime(dfinal_csv['DateTime TTO Checked'], infer_datetime_format=True, errors='coerce')
dfinal_csv['DateTime TTO Dispensed'] = pd.to_datetime(dfinal_csv['DateTime TTO Dispensed'], infer_datetime_format=True, errors='coerce')
dfinal_csv['DateTime (Dispensing)'] = pd.to_datetime(dfinal_csv['DateTime (Dispensing)'], infer_datetime_format=True, errors='coerce')
dfinal_csv['DateTime TTO Received'] = pd.to_datetime(dfinal_csv['DateTime TTO Received'], infer_datetime_format=True, errors='coerce')
dfinal_csv['DateTime (in Pharmacy)'] = pd.to_datetime(dfinal_csv['DateTime (in Pharmacy)'], infer_datetime_format=True, errors='coerce')
dfinal_csv['DateTime (in Pigeon)'] = pd.to_datetime(dfinal_csv['DateTime (in Pigeon)'], infer_datetime_format=True, errors='coerce')
dfinal_csv['DateTime (Dispensed by Nurses)'] = pd.to_datetime(dfinal_csv['DateTime (Dispensed by Nurses)'], infer_datetime_format=True, errors='coerce')
dfinal_csv['DateTime (Passed to Nurse)'] = pd.to_datetime(dfinal_csv['DateTime (Passed to Nurse)'], infer_datetime_format=True, errors='coerce')

In [28]:
#Append 'Date' Column
dfinal_csv['Date'] = dfinal_csv['DateTime TTO Received'].dt.date

In [29]:
dfinal_csv.head()

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01

## Step 20: Rename Columns

In [30]:
#dfinal_cols_name = {'DateTime TTO Checked': 'Time TTO Checked',
#                    'DateTime TTO Dispensed': 'Time (Dispensed)',
#                    'DateTime (Dispensing)': 'Time (Dispensing)',
#                    'DateTime TTO Received': 'Time TTO Received',
#                    'DateTime (in Pharmacy)': 'Time (in Pharmacy)',
#                    'DateTime (in Pigeon)': 'Time (in Pigeon)',
#                    'DateTime (Dispensed by Nurses)': 'Time (Dispensed by Nurse)',
#                    'DateTime (Passed to Nurse)': 'Time (Passed to Nurse)'}
#
#dfinal_csv.rename(columns=dfinal_cols_name, inplace=True)
#
#dfinal_csv.head()

## EDA

## Step 21: Get Day of Week

In [31]:
dfinal_csv['Weekday'] = pd.to_datetime(dfinal_csv['Date']).dt.day_name()

#Assuming no NULL values in 'Date'
dfinal_csv.head()

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday

### Time TTO Dispensed

Disclaimer: Time TTO Dispensed Recalculation is not needed due to change in workflow (Based on Clarification call on 15/03)

In due of various workflow conditions for MEH, re-calculation of Time TTO Dispensed is needed

In [32]:
#ASSUMPTIONS
#if dispensed by nurse -> time tto dispensed = time tto checked
#if passed to nurse -> time tto dispensed = time tto checked
#if in pigeon -> time tto dispensed = time tto checked
#else time tto dispensed = time (dispensed)

#dfinal_csv['Time TTO Dispensed'] = np.where(((dfinal_csv['Time (Dispensed by Nurse)'].notnull()) | 
#                                        (dfinal_csv['Time (Passed to Nurse)'].notnull()) | 
#                                        (dfinal_csv['Time (in Pigeon)'].notnull())), 
#                                        dfinal_csv['Time TTO Checked'], dfinal_csv['Time (Dispensed)'])
#
#dfinal_csv

In [33]:
#dfinal_csv[dfinal_csv['Time TTO Dispensed'].isnull()]

## Step 22: Get Overall Time Taken (TAT)

In [34]:
#ASSUMPTIONS: Time TTO Dispensed is not null
#if in Pharmacy -> total time taken = duration (Checked - Received) + duration (dispensed - dispensing)
#else total time taken = duration (dispensed - received) --> INVALID after new workflow

def duration(end, start):
    difference = 0

    difference = (pd.to_datetime(end.astype(str)) - pd.to_datetime(start.astype(str))).dt.total_seconds()/60
    return difference

dfinal_csv['TAT'] = np.where(dfinal_csv['DateTime TTO Dispensed'].notnull(),
                                            (duration(dfinal_csv['DateTime TTO Checked'], dfinal_csv['DateTime TTO Received']) + duration(dfinal_csv['DateTime TTO Dispensed'], dfinal_csv['DateTime (Dispensing)'])),
                                            #(duration(dfinal_csv['DateTime TTO Dispensed'], dfinal_csv['DateTime TTO Received']))
                                            np.NaN)

dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN

In [35]:
dfinal_csv[dfinal_csv['TAT'].isnull()]

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN
6,2021-04-01 09:04:00,NaT,NaT,2021-04-01 08:49:00,Dayward,2021023995-94208e2,NaT,2021-04-01 09:04:00,NaT,NaT,2021-04-01,Thursday,NaN
11,2021-04-01 10:20:00,NaT,NaT,2021-04-01 10:11:00,5E,2021029215-a7fca80,NaT,2021-04-01 10:25:00,NaT,NaT,2021-04-01,Thursday,NaN
13,2021-04-01 10:16:00,NaT,NaT,2021-04-01 10:12:00,5E,2021029216-0edfb6d,NaT,2021-04-01 10:16:00,NaT,NaT,2021-04-01,Thursday,NaN
15,2021-04-01 10:46:00,NaT,NaT,2021-04-01 10:30:00,5E,2021027278-367dae0,NaT,2021-04-01 10:47:00,NaT,NaT,2021-04-01,Thursday,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11628,2021-09-30 17:24:00,NaT,NaT,2021-09-30 17:22:00,Endoscopy,2021068873.0,NaT,NaT,NaT,2021-09-30 17:25:00,2021-09-30,Thursday,NaN
11629,2021-09-30 17:51:00,NaT,NaT,2021-09-30 17:47:00,Dayward,2021068807.0,NaT,2021-09-30 17:52:00,NaT,NaT,2021-09-30,Thursday,NaN
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN

## Step 23: Create Meet KPI column with yes/no value

MEH: Total Time Taken < 45mins = Yes, else: No.

In [36]:
dfinal_csv['Meet KPI'] = np.where((dfinal_csv['TAT'].isnull()), 'NA',
                                    np.where((dfinal_csv['TAT'] <= (pd.to_datetime('00:45:00')).minute),
                                            'Yes', 'No'))

dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0,Yes
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0,Yes
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA

In [37]:
dfinal_csv[dfinal_csv['Meet KPI']=="No"]

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.000000,No
48,2021-04-02 10:30:00,2021-04-02 10:41:00,2021-04-02 10:40:00,2021-04-02 09:13:00,5A,2021028958-8f4ad20,NaT,NaT,NaT,NaT,2021-04-02,Friday,78.000000,No
82,2021-04-02 19:00:00,2021-04-03 08:58:00,2021-04-03 08:57:00,2021-04-02 18:04:00,5A,2021010867-83a2b1c,2021-04-02 19:00:00,NaT,NaT,NaT,2021-04-02,Friday,57.000000,No
94,2021-04-03 10:16:00,2021-04-03 10:27:00,2021-04-03 10:26:00,2021-04-03 09:30:00,6,2021041434-32702a9,NaT,NaT,NaT,NaT,2021-04-03,Saturday,47.000000,No
122,2021-04-03 14:33:00,2021-04-05 12:38:00,2021-04-05 12:31:00,2021-04-03 13:42:00,4A,2021021668-766cf94,2021-04-03 14:35:00,NaT,NaT,NaT,2021-04-03,Saturday,58.000000,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11516,2021-09-28 10:31:00,2021-09-28 10:52:00,2021-09-28 10:31:00,2021-09-28 10:00:00,5D,2021066997.0,NaT,NaT,NaT,NaT,2021-09-28,Tuesday,52.000000,No
11526,2021-09-28 12:59:00,2021-09-28 13:33:00,2021-09-28 13:21:00,2021-09-28 12:24:00,7,2021067987.0,NaT,NaT,NaT,NaT,2021-09-28,Tuesday,47.000000,No
11582,2021-09-30 09:04:00,2021-09-30 09:20:00,2021-09-30 09:04:00,2021-09-30 08:25:00,4B,2021068233.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,55.000000,No
11584,2021-09-30 09:09:00,2021-09-30 09:50:00,2021-09-30 09:22:16,2021-09-30 08:45:00,6,2021064853.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,51.733333,No
11605,2021-09-30 11:54:00,2021-09-30 12:02:00,2021-09-30 11:54:00,2021-09-30 10:51:00,7,2021068383.0,2021-09-30 10:53:00,NaT,NaT,NaT,2021-09-30,Thursday,71.000000,No

## Step 24: Create Office Hours column to check if case handled during offcie hours

Standard Office Hours: 8:30AM to 5:00PM

Taking into assumption that as long as Time TTO Dispensed is before 5:00PM

In [38]:
dfinal_csv['Office Hours'] = np.where(  #dfinal_csv['Time TTO Received'].isnull() | 
                                        dfinal_csv['DateTime TTO Dispensed'].isnull() , 'NA', 
                                (np.where(  #(dfinal_csv['Time TTO Received'] >= pd.to_datetime('08:30:00').time()) & 
                                            (dfinal_csv['DateTime TTO Dispensed'].dt.time <= pd.to_datetime('17:00:00').time()),
                                            'Yes', 'No')))

dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes,Yes
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes,Yes
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No,Yes
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes,Yes
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA,No
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0,Yes,Yes
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0,Yes,Yes
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA

In [39]:
dfinal_csv[dfinal_csv['Office Hours']=="No"]

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours
262,2021-04-06 11:16:00,2021-04-08 20:07:00,2021-04-08 20:07:00,2021-04-06 11:07:00,5A,2021011890-04db54e,2021-04-06 11:17:00,NaT,NaT,NaT,2021-04-06,Tuesday,9.0,Yes,No
384,2021-04-10 08:01:00,2021-04-10 19:39:00,2021-04-10 19:38:00,2021-04-10 07:33:00,4D,2021012887-708fff1,2021-04-10 08:01:00,NaT,NaT,NaT,2021-04-10,Saturday,29.0,Yes,No
811,2021-04-18 17:40:00,2021-04-18 17:40:00,2021-04-18 17:40:00,2021-04-18 17:17:00,8,2021013459-33be500,NaT,NaT,NaT,NaT,2021-04-18,Sunday,23.0,Yes,No
1160,2021-04-25 17:00:00,2021-04-25 17:08:00,2021-04-25 17:07:00,2021-04-25 16:57:00,5B,2021016294-db4e7d4,2021-04-25 17:00:00,NaT,NaT,NaT,2021-04-25,Sunday,4.0,Yes,No
1206,2021-04-26 16:58:00,2021-04-26 17:01:00,2021-04-26 17:00:00,2021-04-26 16:22:00,7,2021016252-c588fa5,NaT,NaT,NaT,NaT,2021-04-26,Monday,37.0,Yes,No
1621,2021-11-06 11:16:00,2021-11-08 20:07:00,2021-11-08 20:07:00,2021-11-06 11:07:00,5A,2021081890-04db54e,2021-11-06 11:17:00,NaT,NaT,NaT,2021-11-06,Saturday,9.0,Yes,No
1743,2021-11-10 08:01:00,2021-11-10 19:39:00,2021-11-10 19:38:00,2021-11-10 07:33:00,4D,2021082887-708fff1,2021-11-10 08:01:00,NaT,NaT,NaT,2021-11-10,Wednesday,29.0,Yes,No
2170,2021-11-18 17:40:00,2021-11-18 17:40:00,2021-11-18 17:40:00,2021-11-18 17:17:00,8,2021083459-33be500,NaT,NaT,NaT,NaT,2021-11-18,Thursday,23.0,Yes,No
2519,2021-11-25 17:00:00,2021-11-25 17:08:00,2021-11-25 17:07:00,2021-11-25 16:57:00,5B,2021086294-db4e7d4,2021-11-25 17:00:00,NaT,NaT,NaT,2021-11-25,Thursday,4.0,Yes,No
2565,2021-11-26 16:58:00,2021-11-26 17:01:00,2021-11-26 17:00:00,2021-11-26 16:22:00,7,2021086252-c588fa5,NaT,NaT,NaT,NaT,2021-11-26,Friday,37.0,Yes,No
3294,2021-12-13 17:01:00,2021-12-13 17:07:00,2021-12-13 17:03:00,2021-12-13 16:23:00,6,2021092766-aa0c73e,NaT,NaT,NaT,NaT,2021-12-13,Monday,42.0,Yes,No
3778,2021-12-23 20:07:00,2021-12-23 20:08:00,NaT,2021-12-23 20:06:00,10,2021093163-bcf8ac4,NaT,2021-12-23 20:08:00,NaT,NaT,2021-12-23,Thursday,NaN,NA,No
4176,2022-01-05 16:35:00,2022-01-05 17:48:00,NaT,2022-01-05 16:24:00,4B,2021096445-174496d,NaT,2022-01-05 16:35:00,NaT,NaT,2022-01-05,Wednesday,NaN,NA,No
5325,2021-12-13 17:01:00,2021-12-13 17:07:00,2021-12-13 17:03:00,2021-12-13 16:23:00,6,2021092766-aa0c73e,NaT,NaT,NaT,NaT,2021-12-13,Monday,42.0,Yes,No
5809,2021-12-23 20:07:00,2021-12-23 20:08:00,NaT,2021-12-23 20:06:00,10,2021093163-bcf8ac4,NaT,2021-12-23 20:08:00,NaT,NaT,2021-12-23,Thursday,NaN,NA,No
6173,2022-01-05 16:35:00,2022-01-05 17:48:00,NaT,2022-01-05 16:24:00,4B,2021096445-174496d,NaT,2022-01-05 16:35:00,NaT,NaT,2022-01-05,Wednesday,NaN,NA,No
7138,2021-05-06 08:31:00,2021-05-07 21:02:00,2021-05-07 21:00:00,2021-05-06 08:30:00,4A,2021033679-13397,NaT,NaT,NaT,NaT,2021-05-06,Thursday,3.0,Yes,No
7355,2021-05-11 12:45:00,2021-05-12 18:50:00,2021-05-12 18:49:00,2021-05-11 12:23:00,4D,2021034581-13619,2021-05-11 12:55:00,NaT,NaT,NaT,2021-05-11,Tuesday,23.0,Yes,No
7382,2021-05-12 09:35:00,2021-05-12 18:48:00,2021-05-12 18:48:00,2021-05-12 09:23:00,4B,2021032850-13647,2021-05-12 09:36:00,NaT,NaT,NaT,2021-05-12,Wednesday,12.0,Yes,No
7640,2021-05-20 10:04:00,2021-05-20 17:18:00,2021-05-20 17:13:00,2021-05-20 09:57:00,4C,2021036485-13910,2021-05-20 10:18:00,NaT,NaT,NaT,2021-05-20,Thursday,12.0,Yes,No
7664,2021-05-20 14:17:00,2021-05-20 17:18:00,2021-05-20 17:12:00,2021-05-20 14:05:00,4C,2021036485-13934,2021-05-20 14:19:00,NaT,NaT,NaT,2021-05-20,Thursday,18.0,Yes,No
7670,2021-05-20 16:15:00,2021-05-20 17:13:00,2021-05-20 17:13:00,2021-05-20 16:04:00,4B,2021036864-13940,2021-05-20 17:06:00,NaT,NaT,NaT,2021-05-20,Thursday,11.0,Yes,No
7673,2021-05-20 16:41:00,2021-05-20 17:01:00,2021-05-20 17:00:00,2021-05-20 16:32:00,4D,2021036856-13943,NaT,NaT,NaT,NaT,2021-05-20,Thursday,10.0,Yes,No
7899,2021-05-27 16:58:00,2021-05-27 17:07:00,2021-05-27 17:00:00,2021-05-27 16:45:00,5C,2021039050-14177,NaT,NaT,NaT,NaT,2021-05-27,Thursday,20.0,Yes,No
8290,2021-06-04 16:13:00,2021-06-04 17:05:00,2021-06-04 16:51:00,2021-06-04 16:02:00,5A,2021041201-14505,2021-06-04 16:51:00,NaT,NaT,NaT,2021-06-04,Friday,25.0,Yes,No
8854,2021-06-18 16:25:00,2021-06-18 17:03:00,2021-06-18 17:02:00,2021-06-18 16:07:00,5D,2021044033-15081,2021-06-18 16:53:00,NaT,NaT,NaT,2021-06-18,Friday,19.0,Yes,No
9010,2021-06-23 09:19:00,2021-06-23 19:03:00,2021-06-23 19:03:00,2021-06-23 09:11:00,4B,2021046167-15244,2021-06-23 09:48:00,NaT,NaT,NaT,2021-06-23,Wednesday,8.0,Yes,No
9037,2021-06-23 17:19:00,2021-06-23 17:20:00,2021-06-23 17:19:00,2021-06-23 17:17:00,7,2021045687-15272,NaT,NaT,NaT,NaT,2021-06-23,Wednesday,3.0,Yes,No
9468,2021-08-04 09:38:00,2021-08-04 18:20:00,NaT,2021-08-04 09:31:00,Dayward,2021057401-17068,2021-08-04 09:38:00,NaT,NaT,NaT,2021-08-04,Wednesday,NaN,NA,No
9737,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9738,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9739,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9740,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9742,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9744,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9745,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9747,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9748,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9750,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9756,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9759,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9764,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9766,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9768,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9769,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9787,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
9789,2021-08-11 18:19:00,2021-08-11 18:33:00,2021-08-11 18:32:00,2021-08-10 19:12:00,4D,2021058517-17326,2021-08-11 08:44:00,NaT,NaT,NaT,2021-08-10,Tuesday,1388.0,No,No
10095,2021-08-26 16:45:00,2021-08-26 17:01:00,2021-08-26 17:00:00,2021-08-26 16:26:00,6,2021063054-ccfd4d7,2021-08-26 16:46:00,NaT,NaT,NaT,2021-08-26,Thursday,20.0,Yes,No
10298,2021-09-01 08:43:00,2021-09-01 21:18:00,2021-09-01 12:16:00,2021-09-01 08:35:00,4A,2021052770-16c2445,2021-09-01 09:12:00,NaT,NaT,NaT,2021-09-01,Wednesday,550.0,No,No
10302,2021-09-01 09:11:00,2021-09-01 21:19:00,2021-09-01 12:17:00,2021-09-01 09:04:00,4A,2021061196-3bd94d4,2021-09-01 09:12:00,NaT,NaT,NaT,2021-09-01,Wednesday,549.0,No,No
10349,2021-09-02 09:37:00,2021-09-02 18:05:00,2021-09-02 18:03:00,2021-09-02 09:27:00,5D,2021063715-cc2595b,2021-09-02 10:00:00,NaT,NaT,NaT,2021-09-02,Thursday,12.0,Yes,No
11029,2021-09-16 16:46:00,2021-09-16 17:55:00,2021-09-16 16:46:00,2021-09-16 16:36:00,7,2021064785.0,NaT,NaT,NaT,NaT,2021-09-16,Thursday,79.0,No,No
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA,No

## Step 25: Calculate Time Taken for Nurses to Dispense

Calculation for Staff Productivity Purposes

Duration Difference of Passed to Nurse & Nurse Dispensed

In [40]:
#Taking duration formula from Overall Time Taken (TAT) as ref to calculate
dfinal_csv['Time Taken (Nurse to Dispense)'] = np.where((dfinal_csv['DateTime (Passed to Nurse)'].notnull() & dfinal_csv['DateTime (Dispensed by Nurses)'].notnull()),
                                                        (duration(dfinal_csv['DateTime (Dispensed by Nurses)'], dfinal_csv['DateTime (Passed to Nurse)'])), np.NaN)

dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes,Yes,NaN
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes,Yes,NaN
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No,Yes,NaN
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes,Yes,NaN
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA,No,NaN
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0,Yes,Yes,NaN
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0,Yes,Yes,NaN
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaN
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaN

In [41]:
#Convert to Seconds 
dfinal_csv['Time Taken (Nurse to Dispense)'] = dfinal_csv['Time Taken (Nurse to Dispense)']*60
dfinal_csv[dfinal_csv['Time Taken (Nurse to Dispense)'].notnull()].head()

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense)
85,2021-04-03 08:57:00,NaT,NaT,2021-04-03 08:41:00,4A,2021044208-9259aea,2021-04-03 08:58:00,NaT,2021-04-04 14:05:27,2021-04-04 12:46:00,2021-04-03,Saturday,NaN,NA,NA,4767.0
91,2021-04-03 09:27:00,NaT,NaT,2021-04-03 09:14:00,7,2021010650-584e468,NaT,NaT,2021-04-06 10:01:35,2021-04-03 09:29:00,2021-04-03,Saturday,NaN,NA,NA,261155.0
100,2021-04-03 11:13:00,NaT,2021-04-03 11:13:54,2021-04-03 10:27:00,6,2021026443-7c091ff,NaT,NaT,2021-04-03 11:48:40,2021-04-03 11:22:00,2021-04-03,Saturday,NaN,NA,NA,1600.0
106,2021-04-03 11:03:00,NaT,NaT,2021-04-03 11:02:00,7,2021010650-65446fb,NaT,NaT,2021-04-06 09:57:45,2021-04-03 11:03:00,2021-04-03,Saturday,NaN,NA,NA,255285.0
205,2021-04-05 11:53:00,NaT,NaT,2021-04-05 11:42:00,5A,2021011291-60eec95,NaT,NaT,2021-04-13 16:01:40,2021-04-05 12:19:00,2021-04-05,Monday,NaN,NA,NA,704560.0

In [42]:
#Convert Time Taken (Nurse to Dispense) to timedelta format to show  x days x hr x min x sec
dfinal_csv['Time Taken (Nurse to Dispense)'] = pd.to_timedelta(dfinal_csv['Time Taken (Nurse to Dispense)'], 's')
dfinal_csv[dfinal_csv['Time Taken (Nurse to Dispense)'].notnull()].head()

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense)
85,2021-04-03 08:57:00,NaT,NaT,2021-04-03 08:41:00,4A,2021044208-9259aea,2021-04-03 08:58:00,NaT,2021-04-04 14:05:27,2021-04-04 12:46:00,2021-04-03,Saturday,NaN,NA,NA,0 days 01:19:27
91,2021-04-03 09:27:00,NaT,NaT,2021-04-03 09:14:00,7,2021010650-584e468,NaT,NaT,2021-04-06 10:01:35,2021-04-03 09:29:00,2021-04-03,Saturday,NaN,NA,NA,3 days 00:32:35
100,2021-04-03 11:13:00,NaT,2021-04-03 11:13:54,2021-04-03 10:27:00,6,2021026443-7c091ff,NaT,NaT,2021-04-03 11:48:40,2021-04-03 11:22:00,2021-04-03,Saturday,NaN,NA,NA,0 days 00:26:40
106,2021-04-03 11:03:00,NaT,NaT,2021-04-03 11:02:00,7,2021010650-65446fb,NaT,NaT,2021-04-06 09:57:45,2021-04-03 11:03:00,2021-04-03,Saturday,NaN,NA,NA,2 days 22:54:45
205,2021-04-05 11:53:00,NaT,NaT,2021-04-05 11:42:00,5A,2021011291-60eec95,NaT,NaT,2021-04-13 16:01:40,2021-04-05 12:19:00,2021-04-05,Monday,NaN,NA,NA,8 days 03:42:40

## Step 26: Create Average Time Taken from (Received to Checked) & (Checked to Dispensed) columns

In [43]:
#Get Duration Difference of Received to Checked
dfinal_csv['Time Taken (Received to Checked)'] = (dfinal_csv['DateTime TTO Checked'] - dfinal_csv['DateTime TTO Received'])
#Get Duration Difference of Checked to Dispensed
dfinal_csv['Time Taken (Checked to Dispensed)'] = (dfinal_csv['DateTime TTO Dispensed'] - dfinal_csv['DateTime TTO Checked'])

In [44]:
dfinal_csv.head()

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes,Yes,NaT,0 days 00:23:00,0 days 00:21:00
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes,Yes,NaT,0 days 00:01:00,0 days 00:27:00
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No,Yes,NaT,0 days 00:18:00,0 days 00:40:00
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes,Yes,NaT,0 days 00:09:00,0 days 02:15:00
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:13:00,NaT

### Average time taken per day

In [45]:
#Create new dataframe to get results of Average Time Taken for each (Received to Checked) & (Checked to Dispensed)
dfinal_avg_time = dfinal_csv[['Date', 'Time Taken (Received to Checked)', 'Time Taken (Checked to Dispensed)']]
dfinal_avg_time.head()

,Date,Time Taken (Received to Checked),Time Taken (Checked to Dispensed)
0,2021-04-01,0 days 00:23:00,0 days 00:21:00
1,2021-04-01,0 days 00:01:00,0 days 00:27:00
2,2021-04-01,0 days 00:18:00,0 days 00:40:00
3,2021-04-01,0 days 00:09:00,0 days 02:15:00
4,2021-04-01,0 days 00:13:00,NaT

In [46]:
#Convert NaT to 00:00:00
dfinal_avg_time.loc[dfinal_avg_time['Time Taken (Received to Checked)'].isnull(), 'Time Taken (Received to Checked)'] = pd.to_timedelta(0)
dfinal_avg_time.loc[dfinal_avg_time['Time Taken (Checked to Dispensed)'].isnull(), 'Time Taken (Checked to Dispensed)'] = pd.to_timedelta(0)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [47]:
#Get average time taken per day
dfinal_avg_time = dfinal_avg_time.groupby(pd.to_datetime(dfinal_avg_time['Date']).dt.date).mean(numeric_only=False)
dfinal_avg_time

           Time Taken (Received to Checked) Time Taken (Checked to Dispensed)
Date
2021-04-01        0 days 00:15:53.684210526         0 days 02:05:20.526315789
2021-04-02                  0 days 00:17:40         0 days 01:59:37.333333333
2021-04-03        0 days 00:15:41.111111111         0 days 01:02:04.444444444
2021-04-04        0 days 00:08:44.571428571         0 days 00:38:32.571428571
2021-04-05           0 days 00:15:45.937500                   0 days 03:26:15
...                                     ...                               ...
2022-01-22                  0 days 00:11:36                   0 days 03:26:48
2022-01-23        0 days 00:12:14.210526315         0 days 01:36:26.842105263
2022-01-24        0 days 00:16:13.333333333         0 days 03:41:18.333333333
2022-01-25        0 days 00:11:24.324324324         0 days 01:00:50.270270270
2022-01-26                  0 days 00:15:48                   0 days 10:57:48

[239 rows x 2 columns]

In [48]:
#Remove miliseconds
dfinal_avg_time['Time Taken (Received to Checked)'] = dfinal_avg_time['Time Taken (Received to Checked)'].dt.floor('s')
dfinal_avg_time['Time Taken (Checked to Dispensed)'] = dfinal_avg_time['Time Taken (Checked to Dispensed)'].dt.floor('s')

dfinal_avg_time

           Time Taken (Received to Checked) Time Taken (Checked to Dispensed)
Date
2021-04-01                  0 days 00:15:53                   0 days 02:05:20
2021-04-02                  0 days 00:17:40                   0 days 01:59:37
2021-04-03                  0 days 00:15:41                   0 days 01:02:04
2021-04-04                  0 days 00:08:44                   0 days 00:38:32
2021-04-05                  0 days 00:15:45                   0 days 03:26:15
...                                     ...                               ...
2022-01-22                  0 days 00:11:36                   0 days 03:26:48
2022-01-23                  0 days 00:12:14                   0 days 01:36:26
2022-01-24                  0 days 00:16:13                   0 days 03:41:18
2022-01-25                  0 days 00:11:24                   0 days 01:00:50
2022-01-26                  0 days 00:15:48                   0 days 10:57:48

[239 rows x 2 columns]

In [49]:
#Rename Columns
dfinal_avg_time = dfinal_avg_time.rename({'Time Taken (Received to Checked)' : 'Avg Time Taken / Day (Received to Checked)', 'Time Taken (Checked to Dispensed)' : 'Avg Time Taken / Day (Checked to Dispensed)'}, axis=1)

In [50]:
#Merge the results from grouby for Avg Time Taken
dfinal_csv = dfinal_csv.merge(dfinal_avg_time, on='Date', how='left')
dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes,Yes,NaT,0 days 00:23:00,0 days 00:21:00,0 days 00:15:53,0 days 02:05:20
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes,Yes,NaT,0 days 00:01:00,0 days 00:27:00,0 days 00:15:53,0 days 02:05:20
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No,Yes,NaT,0 days 00:18:00,0 days 00:40:00,0 days 00:15:53,0 days 02:05:20
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes,Yes,NaT,0 days 00:09:00,0 days 02:15:00,0 days 00:15:53,0 days 02:05:20
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:13:00,NaT,0 days 00:15:53,0 days 02:05:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA,No,NaT,0 days 00:01:00,0 days 00:01:00,0 days 00:13:14,0 days 01:19:26
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0,Yes,Yes,NaT,0 days 00:30:00,0 days 00:12:00,0 days 00:11:45,0 days 00:05:00
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0,Yes,Yes,NaT,0 days 00:11:00,0 days 00:08:00,0 days 00:11:45,0 days 00:05:00
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,0 days 00:06:00,NaT,0 days 00:11:45,0 days 00:05:00
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,NaT,NaT,0 days 00:11:45,0 days 00:05:00

In [51]:
#Replace 00:00:00 in time columns with np.NaN
dfinal_csv['Time Taken (Received to Checked)'] = dfinal_csv['Time Taken (Received to Checked)'].replace(pd.Timedelta(0), np.NaN)
dfinal_csv['Time Taken (Checked to Dispensed)'] = dfinal_csv['Time Taken (Checked to Dispensed)'].replace(pd.Timedelta(0), np.NaN)
dfinal_csv['Avg Time Taken / Day (Received to Checked)'] = dfinal_csv['Avg Time Taken / Day (Received to Checked)'].replace(pd.Timedelta(0), np.NaN)
dfinal_csv['Avg Time Taken / Day (Checked to Dispensed)'] = dfinal_csv['Avg Time Taken / Day (Checked to Dispensed)'].replace(pd.Timedelta(0), np.NaN)

In [52]:
dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes,Yes,NaT,0 days 00:23:00,0 days 00:21:00,0 days 00:15:53,0 days 02:05:20
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes,Yes,NaT,0 days 00:01:00,0 days 00:27:00,0 days 00:15:53,0 days 02:05:20
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No,Yes,NaT,0 days 00:18:00,0 days 00:40:00,0 days 00:15:53,0 days 02:05:20
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes,Yes,NaT,0 days 00:09:00,0 days 02:15:00,0 days 00:15:53,0 days 02:05:20
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:13:00,NaT,0 days 00:15:53,0 days 02:05:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA,No,NaT,0 days 00:01:00,0 days 00:01:00,0 days 00:13:14,0 days 01:19:26
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0,Yes,Yes,NaT,0 days 00:30:00,0 days 00:12:00,0 days 00:11:45,0 days 00:05:00
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0,Yes,Yes,NaT,0 days 00:11:00,0 days 00:08:00,0 days 00:11:45,0 days 00:05:00
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,0 days 00:06:00,NaT,0 days 00:11:45,0 days 00:05:00
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,NaT,NaT,0 days 00:11:45,0 days 00:05:00

### Average time taken per month

In [53]:
dfinal_csv['Month']= pd.to_datetime(dfinal_csv['Date']).dt.month_name()

In [54]:
dfinal_avg_time = dfinal_csv[['Date', 'Time Taken (Received to Checked)', 'Time Taken (Checked to Dispensed)']]

dfinal_avg_time['Month']= pd.to_datetime(dfinal_avg_time['Date']).dt.month_name()

#Get average time taken per month
dfinal_avg_time= dfinal_avg_time.groupby('Month').agg({'Time Taken (Received to Checked)': np.sum, 'Time Taken (Checked to Dispensed)': np.sum})

x = dfinal_avg_time['Time Taken (Received to Checked)'] / np.timedelta64(1, 'm')
y = dfinal_csv.groupby('Month')['Time Taken (Received to Checked)'].count()

dfinal_avg_time['Avg Time Taken / Month (Received to Checked)'] = (x/y)

dfinal_avg_time['Avg Time Taken / Month (Received to Checked)'] = pd.to_datetime(dfinal_avg_time['Avg Time Taken / Month (Received to Checked)'], unit='m').apply(lambda x: x.strftime("%H:%M:%S"))

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [55]:
a = dfinal_avg_time['Time Taken (Checked to Dispensed)'] / np.timedelta64(1, 'm')
b = dfinal_csv.groupby('Month')['Time Taken (Checked to Dispensed)'].count()

dfinal_avg_time['Avg Time Taken / Month (Checked to Dispensed)'] = (a/b)

dfinal_avg_time['Avg Time Taken / Month (Checked to Dispensed)'] = pd.to_datetime(dfinal_avg_time['Avg Time Taken / Month (Checked to Dispensed)'], unit='m').apply(lambda x: x.strftime("%H:%M:%S"))

In [56]:
dfinal_avg_time = dfinal_avg_time.drop(dfinal_avg_time.columns[[0, 1]], axis=1)

dfinal_csv = dfinal_csv.merge(dfinal_avg_time, on='Month', how='left')

dfinal_csv['Avg Time Taken / Month (Received to Checked)'] = pd.to_timedelta(dfinal_csv['Avg Time Taken / Month (Received to Checked)'])
dfinal_csv['Avg Time Taken / Month (Checked to Dispensed)'] = pd.to_timedelta(dfinal_csv['Avg Time Taken / Month (Checked to Dispensed)'])
dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed)
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes,Yes,NaT,0 days 00:23:00,0 days 00:21:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes,Yes,NaT,0 days 00:01:00,0 days 00:27:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No,Yes,NaT,0 days 00:18:00,0 days 00:40:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes,Yes,NaT,0 days 00:09:00,0 days 02:15:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:13:00,NaT,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA,No,NaT,0 days 00:01:00,0 days 00:01:00,0 days 00:13:14,0 days 01:19:26,September,0 days 00:17:40,0 days 03:45:57
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0,Yes,Yes,NaT,0 days 00:30:00,0 days 00:12:00,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0,Yes,Yes,NaT,0 days 00:11:00,0 days 00:08:00,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,0 days 00:06:00,NaT,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,NaT,NaT,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00

## Step 27: Calculate DateTime (in Pigeon) 

This calculation is for Power BI visualization of the No. of Cases that are needed to be placed in Pigeon. 

Calculate count = 1, if [DateTime (in Pigeon)] AND [DateTime TTO Dispensed] AND [DateTime (Dispensed by Nurse)] == np.NaN

In [57]:
dfinal_csv['Case in Pigeon?'] = np.where((dfinal_csv['DateTime (in Pigeon)'].notnull() &
                                        dfinal_csv['DateTime TTO Dispensed'].isnull() & 
                                        dfinal_csv['DateTime (Dispensed by Nurses)'].isnull()), 
                                        1, 0)

dfinal_csv

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Case in Pigeon?
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaT,NaT,NaT,NaT,2021-04-01,Thursday,24.0,Yes,Yes,NaT,0 days 00:23:00,0 days 00:21:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,0
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaT,NaT,NaT,NaT,2021-04-01,Thursday,11.0,Yes,Yes,NaT,0 days 00:01:00,0 days 00:27:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,0
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaT,NaT,NaT,NaT,2021-04-01,Thursday,55.0,No,Yes,NaT,0 days 00:18:00,0 days 00:40:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,0
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaT,NaT,NaT,2021-04-01,Thursday,10.0,Yes,Yes,NaT,0 days 00:09:00,0 days 02:15:00,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,0
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:13:00,NaT,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11630,2021-09-30 23:14:00,2021-09-30 23:15:00,NaT,2021-09-30 23:13:00,4D,2021067975.0,NaT,NaT,NaT,NaT,2021-09-30,Thursday,NaN,NA,No,NaT,0 days 00:01:00,0 days 00:01:00,0 days 00:13:14,0 days 01:19:26,September,0 days 00:17:40,0 days 03:45:57,0
11631,2021-10-01 08:31:00,2021-10-01 08:43:00,2021-10-01 08:31:00,2021-10-01 08:01:00,5B,2021068451.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,42.0,Yes,Yes,NaT,0 days 00:30:00,0 days 00:12:00,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00,0
11632,2021-10-01 08:29:00,2021-10-01 08:37:00,2021-10-01 08:31:00,2021-10-01 08:18:00,8,2021068529.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,17.0,Yes,Yes,NaT,0 days 00:11:00,0 days 00:08:00,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00,0
11633,2021-10-01 08:40:00,NaT,2021-10-01 08:44:00,2021-10-01 08:34:00,8,2021068529.0,2021-10-01 08:56:00,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,0 days 00:06:00,NaT,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00,0
11634,NaT,NaT,NaT,2021-10-01 08:44:00,4C,2021067951.0,NaT,NaT,NaT,NaT,2021-10-01,Friday,NaN,NA,NA,NaT,NaT,NaT,0 days 00:11:45,0 days 00:05:00,October,0 days 00:15:40,0 days 00:10:00,0

In [58]:
dfinal_csv[dfinal_csv['Case in Pigeon?']==1]

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Case in Pigeon?
4,2021-04-01 09:01:00,NaT,NaT,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaT,2021-04-01 09:02:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:13:00,NaT,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,1
6,2021-04-01 09:04:00,NaT,NaT,2021-04-01 08:49:00,Dayward,2021023995-94208e2,NaT,2021-04-01 09:04:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:15:00,NaT,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,1
11,2021-04-01 10:20:00,NaT,NaT,2021-04-01 10:11:00,5E,2021029215-a7fca80,NaT,2021-04-01 10:25:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:09:00,NaT,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,1
13,2021-04-01 10:16:00,NaT,NaT,2021-04-01 10:12:00,5E,2021029216-0edfb6d,NaT,2021-04-01 10:16:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:04:00,NaT,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,1
15,2021-04-01 10:46:00,NaT,NaT,2021-04-01 10:30:00,5E,2021027278-367dae0,NaT,2021-04-01 10:47:00,NaT,NaT,2021-04-01,Thursday,NaN,NA,NA,NaT,0 days 00:16:00,NaT,0 days 00:15:53,0 days 02:05:20,April,0 days 08:16:13,0 days 18:24:20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11621,2021-09-30 16:21:00,NaT,NaT,2021-09-30 16:06:00,Dayward,2021068902.0,NaT,2021-09-30 16:21:00,NaT,NaT,2021-09-30,Thursday,NaN,NA,NA,NaT,0 days 00:15:00,NaT,0 days 00:13:14,0 days 01:19:26,September,0 days 00:17:40,0 days 03:45:57,1
11623,2021-09-30 16:22:00,NaT,NaT,2021-09-30 16:10:00,Dayward,2021068438.0,NaT,2021-09-30 16:22:00,NaT,NaT,2021-09-30,Thursday,NaN,NA,NA,NaT,0 days 00:12:00,NaT,0 days 00:13:14,0 days 01:19:26,September,0 days 00:17:40,0 days 03:45:57,1
11625,2021-09-30 16:52:00,NaT,NaT,2021-09-30 16:43:00,Dayward,2021068471.0,NaT,2021-09-30 16:52:00,NaT,NaT,2021-09-30,Thursday,NaN,NA,NA,NaT,0 days 00:09:00,NaT,0 days 00:13:14,0 days 01:19:26,September,0 days 00:17:40,0 days 03:45:57,1
11627,2021-09-30 17:25:00,NaT,NaT,2021-09-30 17:18:00,Dayward,2021068433.0,NaT,2021-09-30 17:26:00,NaT,NaT,2021-09-30,Thursday,NaN,NA,NA,NaT,0 days 00:07:00,NaT,0 days 00:13:14,0 days 01:19:26,September,0 days 00:17:40,0 days 03:45:57,1
11629,2021-09-30 17:51:00,NaT,NaT,2021-09-30 17:47:00,Dayward,2021068807.0,NaT,2021-09-30 17:52:00,NaT,NaT,2021-09-30,Thursday,NaN,NA,NA,NaT,0 days 00:04:00,NaT,0 days 00:13:14,0 days 01:19:26,September,0 days 00:17:40,0 days 03:45:57,1

## Step 28: Export CLEANED to csv

In [59]:
#export to csv
dfinal_csv.to_csv('../../Data/Pharmacy Dept/Data Cleaning/MEH_Data_Cleaned.csv', header=True, index=False)