# Pharmacy Department

Includes PEH, GEH, MEH, MNH

In [41]:
import pandas as pd
import numpy as np

In [42]:
PEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/PEH_Data_Cleaned.csv')
GEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/GEH_Data_Cleaned.csv')
MEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/MEH_Data_Cleaned.csv')
MNH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/MNH_Data_Cleaned.csv')

## Assigning 'Hospital' Name as indicator

In [43]:
#PEH
PEH['Hospital'] = 'PEH'

In [44]:
PEH.head()

,Date,Ward,Room,Case Number,DateTime TTO Received,DateTime (Meds Sent Down),DateTime TTO Checked,DateTime (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML,No PML Remarks,Weekday,DateTime TTO Dispensed,TAT,Meet KPI,Office Hours,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Hospital
0,2021-01-04,4A,4811.0,3021000132.0,2021-01-04 09:52:00,NaN,2021-01-04 10:00:00,2021-01-04 10:10:00,NaN,TFP,00:08:00,00:18:00,3.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 10:10:00,18.0,Yes,Yes,0 days 00:08:00,0 days 00:10:00,0 days 00:12:30,0 days 00:01:52,PEH
1,2021-01-04,3A,3828.0,3020041950.0,2021-01-04 08:34:00,NaN,2021-01-04 08:44:00,NaN,NaN,TFP,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:44:00,10.0,Yes,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,PEH
2,2021-01-04,3B,3606.0,3021000166.0,2021-01-04 09:15:00,2021-01-04 09:40:00,2021-01-04 09:50:00,2021-01-04 09:55:00,NaN,TFP,00:10:00,00:15:00,2.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 09:55:00,15.0,Yes,Yes,0 days 00:35:00,0 days 00:05:00,0 days 00:12:30,0 days 00:01:52,PEH
3,2021-01-04,DAY,2011.0,3021000242.0,2021-01-04 10:09:00,NaN,2021-01-04 10:20:00,NaN,NaN,TFP,00:11:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 10:20:00,11.0,Yes,Yes,0 days 00:11:00,NaN,0 days 00:12:30,0 days 00:01:52,PEH
4,2021-01-04,4B,4610.0,3020044361.0,2021-01-04 08:37:00,NaN,2021-01-04 08:47:00,NaN,PATIENT FOR HOME ON WED,YSM,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:47:00,10.0,Yes,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,PEH

In [45]:
PEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252 entries, 0 to 3251
Data columns (total 27 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date                                         3252 non-null   object
 1   Ward                                         3237 non-null   object
 2   Room                                         3243 non-null   object
 3   Case Number                                  3252 non-null   object
 4   DateTime TTO Received                        3248 non-null   object
 5   DateTime (Meds Sent Down)                    318 non-null    object
 6   DateTime TTO Checked                         3249 non-null   object
 7   DateTime (Counselled)                        996 non-null    object
 8   Remarks                                      2420 non-null   object
 9   Checked By (Pharmacist)                      3243 non-null   object
 10  Time Taken (Ready for Collection)            3244 non-null   object
 11  Time Taken (to Counselling)                  992 non-null    object
 12  No. of Drugs                                 988 non-null    object
 13  Bedside Counselling Candidate                3252 non-null   object
 14  Dispensed by                                 993 non-null    object
 15  PML                                          563 non-null    object
 16  No PML Remarks                               268 non-null    object
 17  Weekday                                      3252 non-null   object
 18  DateTime TTO Dispensed                       3249 non-null   object
 19  TAT                                          3246 non-null   float64
 20  Meet KPI                                     3246 non-null   object
 21  Office Hours                                 3247 non-null   object
 22  Time Taken (Received to Checked)             3245 non-null   object
 23  Time Taken (Checked to Dispensed)            990 non-null    object
 24  Avg Time Taken / Day (Received to Checked)   3252 non-null   object
 25  Avg Time Taken / Day (Checked to Dispensed)  2811 non-null   object
 26  Hospital                                     3252 non-null   object
dtypes: float64(1), object(26)
memory usage: 686.1+ KB

In [46]:
#GEH
GEH['Hospital'] = 'GEH'

In [47]:
GEH.head()

,Date,Case Number,Room Number,Ward,TTO Type,No. of Drugs,DateTime TTO Received,DateTime TTO Checked,Checked by,Time to meet,DateTime TTO Dispensed,DateTime TTO Counselled,Counselled by,Remarks,Limo Service,Time Taken (Received to Checked),Time Taken (Received to Dispensed),Weekday,TAT,Meet KPI,Office Hours,Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Hospital
0,2021-04-01,1.021023e+09,957,9W,SCM,2,2021-04-01 08:59:00,2021-04-01 09:04:00,LET,09:44:00,2021-04-01 09:29:00,09:35:00,LET,NaN,NaN,0 days 00:05:00,00:30:00,Thursday,30.0,Yes,Yes,0 days 00:25:00,0 days 00:14:40,0 days 00:14:32,GEH
1,2021-04-01,1.021023e+09,509,5E,SCM,3,2021-04-01 09:05:00,2021-04-01 09:26:00,LET,09:50:00,2021-04-01 09:29:00,09:32:00,ELISE,NaN,NaN,0 days 00:21:00,00:24:00,Thursday,24.0,Yes,Yes,0 days 00:03:00,0 days 00:14:40,0 days 00:14:32,GEH
2,2021-04-01,1.021023e+09,508,5E,SCM,4,2021-04-01 09:07:00,2021-04-01 09:19:00,LET,09:52:00,2021-04-01 09:32:00,10:17:00,ELISE,P,NaN,0 days 00:12:00,00:25:00,Thursday,25.0,Yes,Yes,0 days 00:13:00,0 days 00:14:40,0 days 00:14:32,GEH
3,2021-04-01,1.021023e+09,932,9E,SCM,2,2021-04-01 09:11:00,2021-04-01 09:22:00,ELISE,09:56:00,2021-04-01 09:37:00,09:40:00,LET,NaN,NaN,0 days 00:11:00,00:26:00,Thursday,26.0,Yes,Yes,0 days 00:15:00,0 days 00:14:40,0 days 00:14:32,GEH
4,2021-04-01,1.021023e+09,909,9E,SCM,5,2021-04-01 09:36:00,2021-04-01 10:02:00,ELISE,10:21:00,2021-04-01 10:21:00,10:25:00,ELISE,NaN,NaN,0 days 00:26:00,00:45:00,Thursday,45.0,Yes,Yes,0 days 00:19:00,0 days 00:14:40,0 days 00:14:32,GEH

In [48]:
GEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 25 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date                                         2803 non-null   object
 1   Case Number                                  2803 non-null   float64
 2   Room Number                                  2803 non-null   object
 3   Ward                                         491 non-null    object
 4   TTO Type                                     2794 non-null   object
 5   No. of Drugs                                 2800 non-null   object
 6   DateTime TTO Received                        2774 non-null   object
 7   DateTime TTO Checked                         2581 non-null   object
 8   Checked by                                   466 non-null    object
 9   Time to meet                                 491 non-null    object
 10  DateTime TTO Dispensed                       2400 non-null   object
 11  DateTime TTO Counselled                      387 non-null    object
 12  Counselled by                                420 non-null    object
 13  Remarks                                      572 non-null    object
 14  Limo Service                                 1 non-null      object
 15  Time Taken (Received to Checked)             2574 non-null   object
 16  Time Taken (Received to Dispensed)           480 non-null    object
 17  Weekday                                      2803 non-null   object
 18  TAT                                          2393 non-null   float64
 19  Meet KPI                                     2334 non-null   object
 20  Office Hours                                 2393 non-null   object
 21  Time Taken (Checked to Dispensed)            2359 non-null   object
 22  Avg Time Taken / Day (Received to Checked)   2803 non-null   object
 23  Avg Time Taken / Day (Checked to Dispensed)  2803 non-null   object
 24  Hospital                                     2803 non-null   object
dtypes: float64(2), object(23)
memory usage: 547.6+ KB

In [49]:
#MEH
MEH['Hospital'] = 'MEH'

In [50]:
MEH.head()

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Hospital
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN,2021-04-01,Thursday,24.0,Yes,Yes,NaN,0 days 00:23:00.000000000,0 days 00:21:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,MEH
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN,2021-04-01,Thursday,11.0,Yes,Yes,NaN,0 days 00:01:00.000000000,0 days 00:27:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,MEH
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN,2021-04-01,Thursday,55.0,No,Yes,NaN,0 days 00:18:00.000000000,0 days 00:40:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,MEH
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaN,NaN,NaN,2021-04-01,Thursday,10.0,Yes,Yes,NaN,0 days 00:09:00.000000000,0 days 02:15:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,MEH
4,2021-04-01 09:01:00,NaN,NaN,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaN,2021-04-01 09:02:00,NaN,NaN,2021-04-01,Thursday,NaN,NaN,NaN,NaN,0 days 00:13:00.000000000,NaN,0 days 00:15:53.000000000,0 days 02:05:20.000000000,MEH

In [51]:
MEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11635 entries, 0 to 11634
Data columns (total 21 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DateTime TTO Checked                         11570 non-null  object
 1   DateTime TTO Dispensed                       5955 non-null   object
 2   DateTime (Dispensing)                        6149 non-null   object
 3   DateTime TTO Received                        11635 non-null  object
 4   Ward                                         11635 non-null  object
 5   Case Number                                  11635 non-null  object
 6   DateTime (in Pharmacy)                       2233 non-null   object
 7   DateTime (in Pigeon)                         5430 non-null   object
 8   DateTime (Dispensed by Nurses)               960 non-null    object
 9   DateTime (Passed to Nurse)                   281 non-null    object
 10  Date                                         11635 non-null  object
 11  Weekday                                      11635 non-null  object
 12  TAT                                          5910 non-null   float64
 13  Meet KPI                                     5910 non-null   object
 14  Office Hours                                 5955 non-null   object
 15  Time Taken (Nurse to Dispense)               50 non-null     object
 16  Time Taken (Received to Checked)             11346 non-null  object
 17  Time Taken (Checked to Dispensed)            5826 non-null   object
 18  Avg Time Taken / Day (Received to Checked)   11634 non-null  object
 19  Avg Time Taken / Day (Checked to Dispensed)  11395 non-null  object
 20  Hospital                                     11635 non-null  object
dtypes: float64(1), object(20)
memory usage: 1.9+ MB

In [52]:
#MNH
MNH['Hospital'] = 'MNH'

In [53]:
MNH.head()

,Date,Ward,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed),Hospital
0,2021-01-01 00:00:00,905,4020095917,4.0,NaN,PBH,0:12,2021-01-01 08:28:00,NaN,2021-01-01 08:40:00,Friday,12.0,Yes,Yes,NaN,NaN,0 days 00:09:58,0 days 00:35:21,MNH
1,2021-01-01 00:00:00,1202,4020097017,8.0,wait for 2nd rx,PBH,NaN,2021-01-01 09:04:00,2021-01-01 08:50:00,NaN,Friday,NaN,NaN,NaN,-1 days +23:46:00,NaN,0 days 00:09:58,0 days 00:35:21,MNH
2,2021-01-01 00:00:00,1224,4020095632,1.0,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes,0 days 00:04:00,0 days 00:15:00,0 days 00:09:58,0 days 00:35:21,MNH
3,2021-01-01 00:00:00,818,4020097033,1.0,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes,0 days 00:01:00,0 days 00:14:00,0 days 00:09:58,0 days 00:35:21,MNH
4,2021-01-01 00:00:00,803,4020097026,1.0,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes,0 days 00:07:00,0 days 01:12:00,0 days 00:09:58,0 days 00:35:21,MNH

In [54]:
MNH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15512 entries, 0 to 15511
Data columns (total 19 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15512 non-null  object
 1   Ward                                                15503 non-null  object
 2   Case Number                                         15512 non-null  object
 3   No. of Drugs                                        15510 non-null  float64
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15474 non-null  object
 6   Time Taken to Reach Pt (mins)                       15502 non-null  object
 7   DateTime TTO Received                               15512 non-null  object
 8   DateTime TTO Packing                                11622 non-null  object
 9   DateTime TTO Dispensed                              15502 non-null  object
 10  Weekday                                             15512 non-null  object
 11  TAT                                                 15502 non-null  float64
 12  Meet KPI                                            15433 non-null  object
 13  Office Hours                                        15502 non-null  object
 14  Time Taken (Received to Packing)                    11598 non-null  object
 15  Time Taken (Packing to Dispensed)                   11611 non-null  object
 16  Avg Time Taken / Day (Received to Packing)          15512 non-null  object
 17  Avg Time Taken / Day (Packing to Dispensed)         15512 non-null  object
 18  Hospital                                            15512 non-null  object
dtypes: float64(2), object(17)
memory usage: 2.2+ MB

In [56]:
# rename packing to checked for standardization 
MNH= MNH.rename({'DateTime TTO Packing': 'DateTime TTO Checked',
    'Time Taken (Received to Packing)' : 'Time Taken (Received to Checked)', 
    'Time Taken (Packing to Dispensed)' : 'Time Taken (Checked to Dispensed)',
    'Avg Time Taken / Day (Received to Packing)' : 'Avg Time Taken / Day (Received to Checked)',
    'Avg Time Taken / Day (Packing to Dispensed)' : 'Avg Time Taken / Day (Checked to Dispensed)'}, axis=1)

## Merge ALL relevant CSV(s)

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.concat([PEH,GEH,MEH,MNH], ignore_index=True)

df

In [ ]:
df.info()

In [ ]:
df[df['Date'].isnull()]

In [ ]:
df.isnull().sum()

## Export to CSV

In [ ]:
#export to CSV
df.to_csv("../../Data/Pharmacy Dept/Data Cleaning/Merged_Pharmacy_Dept_CLEANED.csv", index=None, header=True)