# Pharmacy Department - Why KPI is not met

In [388]:
import pandas as pd
import numpy as np

In [389]:
pd.set_option('display.max_columns', None)

In [390]:
df = pd.read_csv("../../Data/Pharmacy Dept/Data Cleaning/Merged_Pharmacy_Dept_CLEANED.csv")

df.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (2,3,5,7,8,9,10,11,12,13,14,15,16,30,31,32,33,34,35,36,37,38,39,40,42,43,44,45,46) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date,Ward,Room,Case Number,DateTime TTO Received,DateTime (Meds Sent Down),DateTime TTO Checked,DateTime (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML,No PML Remarks,Weekday,DateTime TTO Dispensed,TAT,Meet KPI,Office Hours,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Hospital,TTO Type,Checked by,Time to meet,Counselled by,Limo Service,DateTime (Dispensing),DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Time Taken (Nurse to Dispense),Case in Pigeon?,Bed no.,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time Taken to Pack,Process Time Issue
0,2021-01-04,4A,4811.0,3021000132.0,2021-01-04 09:52:00,NaN,2021-01-04 10:00:00,2021-01-04 10:10:00,NaN,TFP,00:08:00,00:18:00,3.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 10:10:00,18.0,Yes,Yes,0 days 00:08:00,0 days 00:10:00,0 days 00:12:30,0 days 00:01:52,January,0 days 00:13:10,0 days 00:16:21,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
1,2021-01-04,3A,3828.0,3020041950.0,2021-01-04 08:34:00,NaN,2021-01-04 08:44:00,NaN,NaN,TFP,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:44:00,10.0,Yes,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,January,0 days 00:13:10,0 days 00:16:21,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,2021-01-04,3B,3606.0,3021000166.0,2021-01-04 09:15:00,2021-01-04 09:40:00,2021-01-04 09:50:00,2021-01-04 09:55:00,NaN,TFP,00:10:00,00:15:00,2.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 09:55:00,15.0,Yes,Yes,0 days 00:35:00,0 days 00:05:00,0 days 00:12:30,0 days 00:01:52,January,0 days 00:13:10,0 days 00:16:21,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,2021-01-04,DAY,2011.0,3021000242.0,2021-01-04 10:09:00,NaN,2021-01-04 10:20:00,NaN,NaN,TFP,00:11:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 10:20:00,11.0,Yes,Yes,0 days 00:11:00,NaN,0 days 00:12:30,0 days 00:01:52,January,0 days 00:13:10,0 days 00:16:21,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4,2021-01-04,4B,4610.0,3020044361.0,2021-01-04 08:37:00,NaN,2021-01-04 08:47:00,NaN,PATIENT FOR HOME ON WED,YSM,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:47:00,10.0,Yes,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,January,0 days 00:13:10,0 days 00:16:21,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No

In [391]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33202 entries, 0 to 33201
Data columns (total 48 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                33202 non-null  object
 1   Ward                                                32599 non-null  object
 2   Room                                                6046 non-null   object
 3   Case Number                                         33202 non-null  object
 4   DateTime TTO Received                               33169 non-null  object
 5   DateTime (Meds Sent Down)                           318 non-null    object
 6   DateTime TTO Checked                                29022 non-null  object
 7   DateTime (Counselled)                               1383 non-null   object
 8   Remarks                                             2992 non-null   object
 9   Checked By (Pharmacist)                             3243 non-null   object
 10  Time Taken (Ready for Collection)                   3244 non-null   object
 11  Time Taken (to Counselling)                         992 non-null    object
 12  No. of Drugs                                        19298 non-null  object
 13  Bedside Counselling Candidate                       3252 non-null   object
 14  Dispensed by                                        993 non-null    object
 15  PML                                                 563 non-null    object
 16  No PML Remarks                                      268 non-null    object
 17  Weekday                                             33202 non-null  object
 18  DateTime TTO Dispensed                              27106 non-null  object
 19  TAT                                                 27051 non-null  float64
 20  Meet KPI                                            26923 non-null  object
 21  Office Hours                                        27097 non-null  object
 22  Time Taken (Received to Checked)                    28577 non-null  object
 23  Time Taken (Checked to Dispensed)                   20709 non-null  object
 24  Avg Time Taken / Day (Received to Checked)          33201 non-null  object
 25  Avg Time Taken / Day (Checked to Dispensed)         32521 non-null  object
 26  Month                                               33202 non-null  object
 27  Avg Time Taken / Month (Received to Checked)        33202 non-null  object
 28  Avg Time Taken / Month (Checked to Dispensed)       33202 non-null  object
 29  Hospital                                            33202 non-null  object
 30  TTO Type                                            2794 non-null   object
 31  Checked by                                          466 non-null    object
 32  Time to meet                                        491 non-null    object
 33  Counselled by                                       420 non-null    object
 34  Limo Service                                        1 non-null      object
 35  DateTime (Dispensing)                               6149 non-null   object
 36  DateTime (in Pharmacy)                              2233 non-null   object
 37  DateTime (in Pigeon)                                5430 non-null   object
 38  DateTime (Dispensed by Nurses)                      960 non-null    object
 39  DateTime (Passed to Nurse)                          281 non-null    object
 40  Time Taken (Nurse to Dispense)                      50 non-null     object
 41  Case in Pigeon?                                     11635 non-null  float64
 42  Bed no.                                             15503 non-null  object
 43  Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 44  Time Taken To Pack (mins)                           15474 non-null  object
 45  Time Taken to Reach Pt (mins)                       15502 non-null  object
 46  Time Taken to Pack                                  15465 non-null  object
 47  Process Time Issue                                  33202 non-null  object
dtypes: float64(2), object(46)
memory usage: 12.2+ MB

## KPI Analysis

In [392]:
#Extract those that needed only
df_kpi = df[['Date', 'Ward', 'Case Number', 'Hospital', 'No. of Drugs', 'Weekday', 'TAT', 'Meet KPI', 'Time Taken (Received to Checked)', 'Time Taken (Checked to Dispensed)', 'Avg Time Taken / Day (Received to Checked)', 'Avg Time Taken / Day (Checked to Dispensed)', 'Avg Time Taken / Month (Received to Checked)', 'Avg Time Taken / Month (Checked to Dispensed)', 'Process Time Issue']]
df_kpi

,Date,Ward,Case Number,Hospital,No. of Drugs,Weekday,TAT,Meet KPI,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Process Time Issue
0,2021-01-04,4A,3021000132.0,PEH,3.0,Monday,18.0,Yes,0 days 00:08:00,0 days 00:10:00,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No
1,2021-01-04,3A,3020041950.0,PEH,NaN,Monday,10.0,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No
2,2021-01-04,3B,3021000166.0,PEH,2.0,Monday,15.0,Yes,0 days 00:35:00,0 days 00:05:00,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No
3,2021-01-04,DAY,3021000242.0,PEH,NaN,Monday,11.0,Yes,0 days 00:11:00,NaN,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No
4,2021-01-04,4B,3020044361.0,PEH,NaN,Monday,10.0,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33197,2021-12-31 00:00:00,8,4021107656,MNH,1,Friday,10.0,Yes,NaN,0 days 00:10:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,No
33198,2021-12-31 00:00:00,12,4021107518,MNH,1,Friday,12.0,Yes,NaN,NaN,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,No
33199,2021-12-31 00:00:00,11,4021107644,MNH,3,Friday,26.0,No,0 days 00:09:00,0 days 00:17:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes
33200,2021-12-31 00:00:00,6,4021108689,MNH,2,Friday,42.0,No,0 days 00:10:00,0 days 00:32:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes
33201,2021-12-31 00:00:00,6Peds,4021108267,MNH,4,Friday,25.0,Yes,0 days 00:05:00,0 days 00:20:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,No

In [393]:
df_kpi[df_kpi['Meet KPI'].isnull()]

,Date,Ward,Case Number,Hospital,No. of Drugs,Weekday,TAT,Meet KPI,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Process Time Issue
401,2021-02-17,3A,3021005452.0,PEH,NaN,Wednesday,NaN,NaN,NaN,NaN,-11862 days +16:12:04,-11862 days +16:03:18,0 days 00:18:46,0 days 00:15:12,No
1215,2021-05-10,3A,3021014976.0,PEH,NaN,Monday,NaN,NaN,-1 days +23:05:00,NaN,0 days 00:12:27,0 days 00:01:49,0 days 00:17:35,0 days 00:14:03,No
1416,2021-06-04,4B,3021018969.0,PEH,NaN,Friday,NaN,NaN,NaN,NaN,-7626 days +20:43:54,-7626 days +20:36:33,0 days 00:13:14,0 days 00:14:47,No
2003,2021-08-19,NaN,dd,PEH,NaN,Thursday,NaN,NaN,0 days 14:08:00,NaN,0 days 01:32:54,0 days 00:00:18,0 days 00:21:50,0 days 00:16:13,No
2005,2021-08-20,NaN,EMPTY,PEH,5.0,Friday,NaN,NaN,0 days 09:22:00,0 days 00:18:00,0 days 01:06:46,0 days 00:04:00,0 days 00:21:50,0 days 00:16:13,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32824,2021-12-23 00:00:00,9,4021102989,MNH,4,Thursday,0.0,NaN,NaN,NaN,0 days 00:11:16,0 days 00:27:04,0 days 00:13:33,0 days 00:38:24,No
32866,2021-12-23 00:00:00,2,4021106317,MNH,3,Thursday,-106.0,NaN,NaN,NaN,0 days 00:11:16,0 days 00:27:04,0 days 00:13:33,0 days 00:38:24,No
33099,2021-12-30 00:00:00,8,4021107503,MNH,4,Thursday,-54.0,NaN,-1 days +22:09:00,0 days 00:57:00,-1 days +23:49:30,0 days 00:50:53,0 days 00:13:33,0 days 00:38:24,No
33149,2021-12-30 00:00:00,Endo,4021108235,MNH,4,Thursday,-10.0,NaN,-1 days +23:40:00,0 days 00:10:00,-1 days +23:49:30,0 days 00:50:53,0 days 00:13:33,0 days 00:38:24,No
33167,2021-12-31 00:00:00,11,4021108307,MNH,4,Friday,-27.0,NaN,-1 days +23:13:00,0 days 00:20:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,No

### Percentage of KPI met / Day

In [394]:
#create new dataframe to calculate no. of KPI / day
df_kpi_sum = df_kpi[['Date', 'Hospital', 'Meet KPI']]
df_kpi_sum.head()

         Date Hospital Meet KPI
0  2021-01-04      PEH      Yes
1  2021-01-04      PEH      Yes
2  2021-01-04      PEH      Yes
3  2021-01-04      PEH      Yes
4  2021-01-04      PEH      Yes

In [395]:
df_kpi_sum.isnull().sum()

Date           0
Hospital       0
Meet KPI    6279
dtype: int64

In [396]:
df_kpi_sum[df_kpi_sum['Meet KPI'].isnull()]

                      Date Hospital Meet KPI
401             2021-02-17      PEH      NaN
1215            2021-05-10      PEH      NaN
1416            2021-06-04      PEH      NaN
2003            2021-08-19      PEH      NaN
2005            2021-08-20      PEH      NaN
...                    ...      ...      ...
32824  2021-12-23 00:00:00      MNH      NaN
32866  2021-12-23 00:00:00      MNH      NaN
33099  2021-12-30 00:00:00      MNH      NaN
33149  2021-12-30 00:00:00      MNH      NaN
33167  2021-12-31 00:00:00      MNH      NaN

[6279 rows x 3 columns]

In [397]:
#convert Meet KPI (Yes/No) to 1/0
df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].replace(to_replace=['Yes', 'No'], value = ['1', '0'])
df_kpi_sum

<ipython-input-397-51b562c45410>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].replace(to_replace=['Yes', 'No'], value = ['1', '0'])

                      Date Hospital Meet KPI
0               2021-01-04      PEH        1
1               2021-01-04      PEH        1
2               2021-01-04      PEH        1
3               2021-01-04      PEH        1
4               2021-01-04      PEH        1
...                    ...      ...      ...
33197  2021-12-31 00:00:00      MNH        1
33198  2021-12-31 00:00:00      MNH        1
33199  2021-12-31 00:00:00      MNH        0
33200  2021-12-31 00:00:00      MNH        0
33201  2021-12-31 00:00:00      MNH        1

[33202 rows x 3 columns]

In [398]:
#drop Meet KPI = NaN
df_kpi_sum = df_kpi_sum.dropna()

In [399]:
df_kpi_sum.isnull().sum()

Date        0
Hospital    0
Meet KPI    0
dtype: int64

In [400]:
#set Meet KPI type as int
df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].astype(str).astype(int)

<ipython-input-400-03cb53855394>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].astype(str).astype(int)

In [401]:
#Get No. of Cases that Meet KPI per day
df_kpi_sum_day = df_kpi_sum.groupby(['Hospital', pd.to_datetime(df_kpi_sum['Date']).dt.date]).sum()
df_kpi_sum_day

                     Meet KPI
Hospital Date
GEH      2021-04-01        14
         2021-04-03         1
         2021-04-05         5
         2021-04-06        11
         2021-04-07        13
...                       ...
PEH      2021-12-27         3
         2021-12-28        11
         2021-12-29         7
         2021-12-30         9
         2021-12-31        10

[1102 rows x 1 columns]

In [402]:
#create new dataframe to calculate No. of Cases / Day
df_case_sum = df_kpi[['Date', 'Hospital', 'Case Number']]
df_case_sum

                      Date Hospital   Case Number
0               2021-01-04      PEH  3021000132.0
1               2021-01-04      PEH  3020041950.0
2               2021-01-04      PEH  3021000166.0
3               2021-01-04      PEH  3021000242.0
4               2021-01-04      PEH  3020044361.0
...                    ...      ...           ...
33197  2021-12-31 00:00:00      MNH    4021107656
33198  2021-12-31 00:00:00      MNH    4021107518
33199  2021-12-31 00:00:00      MNH    4021107644
33200  2021-12-31 00:00:00      MNH    4021108689
33201  2021-12-31 00:00:00      MNH    4021108267

[33202 rows x 3 columns]

In [403]:
df_case_sum.isnull().sum()

Date           0
Hospital       0
Case Number    0
dtype: int64

In [404]:
df_case_sum['Case Count'] = 1
df_case_sum

<ipython-input-404-7cb93b54d07c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_case_sum['Case Count'] = 1

                      Date Hospital   Case Number  Case Count
0               2021-01-04      PEH  3021000132.0           1
1               2021-01-04      PEH  3020041950.0           1
2               2021-01-04      PEH  3021000166.0           1
3               2021-01-04      PEH  3021000242.0           1
4               2021-01-04      PEH  3020044361.0           1
...                    ...      ...           ...         ...
33197  2021-12-31 00:00:00      MNH    4021107656           1
33198  2021-12-31 00:00:00      MNH    4021107518           1
33199  2021-12-31 00:00:00      MNH    4021107644           1
33200  2021-12-31 00:00:00      MNH    4021108689           1
33201  2021-12-31 00:00:00      MNH    4021108267           1

[33202 rows x 4 columns]

In [405]:
df_case_sum.drop(['Case Number'], axis=1, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [406]:
#Get No. of Cases Per Day
df_case_sum_day = df_case_sum.groupby(['Hospital', pd.to_datetime(df_case_sum['Date']).dt.date]).sum()
df_case_sum_day

                     Case Count
Hospital Date
GEH      2021-04-01          15
         2021-04-03           1
         2021-04-05           6
         2021-04-06          14
         2021-04-07          14
...                         ...
PEH      2021-12-27           3
         2021-12-28          11
         2021-12-29           7
         2021-12-30           9
         2021-12-31          10

[1119 rows x 1 columns]

In [407]:
#merge both No. of Cases that meet KPI and No. Cases / Day
df_kpi_percent_day = pd.merge(df_kpi_sum_day, df_case_sum_day, on=['Hospital', 'Date'])
df_kpi_percent_day

                     Meet KPI  Case Count
Hospital Date
GEH      2021-04-01        14          15
         2021-04-03         1           1
         2021-04-05         5           6
         2021-04-06        11          14
         2021-04-07        13          14
...                       ...         ...
PEH      2021-12-27         3           3
         2021-12-28        11          11
         2021-12-29         7           7
         2021-12-30         9           9
         2021-12-31        10          10

[1102 rows x 2 columns]

In [408]:
df_kpi_percent_day['%KPI / Day'] = df_kpi_percent_day['Meet KPI']/df_kpi_percent_day['Case Count']
df_kpi_percent_day

                     Meet KPI  Case Count  %KPI / Day
Hospital Date
GEH      2021-04-01        14          15    0.933333
         2021-04-03         1           1    1.000000
         2021-04-05         5           6    0.833333
         2021-04-06        11          14    0.785714
         2021-04-07        13          14    0.928571
...                       ...         ...         ...
PEH      2021-12-27         3           3    1.000000
         2021-12-28        11          11    1.000000
         2021-12-29         7           7    1.000000
         2021-12-30         9           9    1.000000
         2021-12-31        10          10    1.000000

[1102 rows x 3 columns]

In [409]:
#if 85% meet KPI / day: Yes, Else No
df_kpi_percent_day['85% Meet KPI / Day'] = np.where((df_kpi_percent_day['%KPI / Day'] >= 0.85), 'Yes', 'No')
df_kpi_percent_day

                     Meet KPI  Case Count  %KPI / Day 85% Meet KPI / Day
Hospital Date
GEH      2021-04-01        14          15    0.933333                Yes
         2021-04-03         1           1    1.000000                Yes
         2021-04-05         5           6    0.833333                 No
         2021-04-06        11          14    0.785714                 No
         2021-04-07        13          14    0.928571                Yes
...                       ...         ...         ...                ...
PEH      2021-12-27         3           3    1.000000                Yes
         2021-12-28        11          11    1.000000                Yes
         2021-12-29         7           7    1.000000                Yes
         2021-12-30         9           9    1.000000                Yes
         2021-12-31        10          10    1.000000                Yes

[1102 rows x 4 columns]

### Percentage of KPI met / Month

In [410]:
#Get No. of KPI met Per Month
df_kpi_sum_mth = df_kpi_sum.groupby(['Hospital', pd.to_datetime(df_kpi_sum['Date']).dt.month]).sum()
df_kpi_sum_mth

               Meet KPI
Hospital Date
GEH      4          183
         5          135
         6          183
         7          186
         8          177
         9          204
         10         165
         11         131
         12         200
MEH      1         1022
         4          520
         5          482
         6          617
         7           22
         8          393
         9          610
         10           2
         11         520
         12        1378
MNH      1          266
         2          310
         3          345
         4          420
         5          462
         6          518
         7          509
         8          447
         9          622
         10         455
         11         487
         12         502
PEH      1          266
         2          230
         3          348
         4          287
         5          236
         6          252
         7          224
         8          239
         9          339
         10         283
         11         246
         12         263

In [411]:
#Get No. of Cases Per Month
df_case_sum_mth = df_case_sum.groupby(['Hospital', pd.to_datetime(df_case_sum['Date']).dt.month]).sum()
df_case_sum_mth

               Case Count
Hospital Date
GEH      4            286
         5            205
         6            328
         7            389
         8            344
         9            345
         10           336
         11           241
         12           329
MEH      1           1822
         4           1358
         5           1104
         6           1257
         7             43
         8            952
         9           1333
         10             4
         11          1359
         12          2403
MNH      1           1065
         2            858
         3           1075
         4           1160
         5           1302
         6           1421
         7           1402
         8           1452
         9           1471
         10          1300
         11          1466
         12          1540
PEH      1            269
         2            232
         3            350
         4            287
         5            241
         6            256
         7            228
         8            245
         9            344
         10           284
         11           249
         12           267

In [412]:
#merge both No. of Cases that meet KPI and No. Cases / Month
df_kpi_percent_mth = pd.merge(df_kpi_sum_mth, df_case_sum_mth, on=['Hospital', 'Date'])
df_kpi_percent_mth

               Meet KPI  Case Count
Hospital Date
GEH      4          183         286
         5          135         205
         6          183         328
         7          186         389
         8          177         344
         9          204         345
         10         165         336
         11         131         241
         12         200         329
MEH      1         1022        1822
         4          520        1358
         5          482        1104
         6          617        1257
         7           22          43
         8          393         952
         9          610        1333
         10           2           4
         11         520        1359
         12        1378        2403
MNH      1          266        1065
         2          310         858
         3          345        1075
         4          420        1160
         5          462        1302
         6          518        1421
         7          509        1402
         8          447        1452
         9          622        1471
         10         455        1300
         11         487        1466
         12         502        1540
PEH      1          266         269
         2          230         232
         3          348         350
         4          287         287
         5          236         241
         6          252         256
         7          224         228
         8          239         245
         9          339         344
         10         283         284
         11         246         249
         12         263         267

In [413]:
df_kpi_percent_mth['%KPI / Mth'] = df_kpi_percent_mth['Meet KPI']/df_kpi_percent_mth['Case Count']
df_kpi_percent_mth

               Meet KPI  Case Count  %KPI / Mth
Hospital Date
GEH      4          183         286    0.639860
         5          135         205    0.658537
         6          183         328    0.557927
         7          186         389    0.478149
         8          177         344    0.514535
         9          204         345    0.591304
         10         165         336    0.491071
         11         131         241    0.543568
         12         200         329    0.607903
MEH      1         1022        1822    0.560922
         4          520        1358    0.382916
         5          482        1104    0.436594
         6          617        1257    0.490851
         7           22          43    0.511628
         8          393         952    0.412815
         9          610        1333    0.457614
         10           2           4    0.500000
         11         520        1359    0.382634
         12        1378        2403    0.573450
MNH      1          266        1065    0.249765
         2          310         858    0.361305
         3          345        1075    0.320930
         4          420        1160    0.362069
         5          462        1302    0.354839
         6          518        1421    0.364532
         7          509        1402    0.363053
         8          447        1452    0.307851
         9          622        1471    0.422842
         10         455        1300    0.350000
         11         487        1466    0.332196
         12         502        1540    0.325974
PEH      1          266         269    0.988848
         2          230         232    0.991379
         3          348         350    0.994286
         4          287         287    1.000000
         5          236         241    0.979253
         6          252         256    0.984375
         7          224         228    0.982456
         8          239         245    0.975510
         9          339         344    0.985465
         10         283         284    0.996479
         11         246         249    0.987952
         12         263         267    0.985019

In [414]:
#if 85% meet KPI / day: Yes, Else No
df_kpi_percent_mth['85% Meet KPI / Mth'] = np.where((df_kpi_percent_mth['%KPI / Mth'] >= 0.85), 'Yes', 'No')
df_kpi_percent_mth

               Meet KPI  Case Count  %KPI / Mth 85% Meet KPI / Mth
Hospital Date
GEH      4          183         286    0.639860                 No
         5          135         205    0.658537                 No
         6          183         328    0.557927                 No
         7          186         389    0.478149                 No
         8          177         344    0.514535                 No
         9          204         345    0.591304                 No
         10         165         336    0.491071                 No
         11         131         241    0.543568                 No
         12         200         329    0.607903                 No
MEH      1         1022        1822    0.560922                 No
         4          520        1358    0.382916                 No
         5          482        1104    0.436594                 No
         6          617        1257    0.490851                 No
         7           22          43    0.511628                 No
         8          393         952    0.412815                 No
         9          610        1333    0.457614                 No
         10           2           4    0.500000                 No
         11         520        1359    0.382634                 No
         12        1378        2403    0.573450                 No
MNH      1          266        1065    0.249765                 No
         2          310         858    0.361305                 No
         3          345        1075    0.320930                 No
         4          420        1160    0.362069                 No
         5          462        1302    0.354839                 No
         6          518        1421    0.364532                 No
         7          509        1402    0.363053                 No
         8          447        1452    0.307851                 No
         9          622        1471    0.422842                 No
         10         455        1300    0.350000                 No
         11         487        1466    0.332196                 No
         12         502        1540    0.325974                 No
PEH      1          266         269    0.988848                Yes
         2          230         232    0.991379                Yes
         3          348         350    0.994286                Yes
         4          287         287    1.000000                Yes
         5          236         241    0.979253                Yes
         6          252         256    0.984375                Yes
         7          224         228    0.982456                Yes
         8          239         245    0.975510                Yes
         9          339         344    0.985465                Yes
         10         283         284    0.996479                Yes
         11         246         249    0.987952                Yes
         12         263         267    0.985019                Yes

### Understanding the difference between KPI met / Day and / Month

#### Merge KPI met /  Day and / Month

In [415]:
#reset index
df_kpi_percent_day = df_kpi_percent_day.reset_index()
df_kpi_percent_day.head()

  Hospital       Date  Meet KPI  Case Count  %KPI / Day 85% Meet KPI / Day
0      GEH 2021-04-01        14          15    0.933333                Yes
1      GEH 2021-04-03         1           1    1.000000                Yes
2      GEH 2021-04-05         5           6    0.833333                 No
3      GEH 2021-04-06        11          14    0.785714                 No
4      GEH 2021-04-07        13          14    0.928571                Yes

In [416]:
#reset index
df_kpi_percent_mth = df_kpi_percent_mth.reset_index()
df_kpi_percent_mth.head()

  Hospital  Date  Meet KPI  Case Count  %KPI / Mth 85% Meet KPI / Mth
0      GEH     4       183         286    0.639860                 No
1      GEH     5       135         205    0.658537                 No
2      GEH     6       183         328    0.557927                 No
3      GEH     7       186         389    0.478149                 No
4      GEH     8       177         344    0.514535                 No

In [417]:
#add Month column to both df for easy merge
df_kpi_percent_day['Month'] = pd.to_datetime(df_kpi_percent_day['Date']).dt.month_name()
df_kpi_percent_mth['Month'] = pd.to_datetime(df_kpi_percent_mth['Date'], format='%m').dt.month_name()

In [418]:
#rename variables for merge
df_kpi_percent_day.rename(columns={'Meet KPI':'Meet KPI / Day', 'Case Count':'Case Count / Day'}, inplace=True)
df_kpi_percent_mth.rename(columns={'Meet KPI':'Meet KPI / Mth', 'Case Count':'Case Count / Mth'}, inplace=True)

In [419]:
df_kpi_percent_day.head()

,Hospital,Date,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Month
0,GEH,2021-04-01,14,15,0.933333,Yes,April
1,GEH,2021-04-03,1,1,1.000000,Yes,April
2,GEH,2021-04-05,5,6,0.833333,No,April
3,GEH,2021-04-06,11,14,0.785714,No,April
4,GEH,2021-04-07,13,14,0.928571,Yes,April

In [420]:
df_kpi_percent_mth.head()

,Hospital,Date,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth,Month
0,GEH,4,183,286,0.639860,No,April
1,GEH,5,135,205,0.658537,No,May
2,GEH,6,183,328,0.557927,No,June
3,GEH,7,186,389,0.478149,No,July
4,GEH,8,177,344,0.514535,No,August

In [421]:
dfinal_kpi_percent = pd.merge(df_kpi_percent_day, df_kpi_percent_mth, on=['Hospital', 'Month'], how='left')
dfinal_kpi_percent

,Hospital,Date_x,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Month,Date_y,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth
0,GEH,2021-04-01,14,15,0.933333,Yes,April,4,183,286,0.639860,No
1,GEH,2021-04-03,1,1,1.000000,Yes,April,4,183,286,0.639860,No
2,GEH,2021-04-05,5,6,0.833333,No,April,4,183,286,0.639860,No
3,GEH,2021-04-06,11,14,0.785714,No,April,4,183,286,0.639860,No
4,GEH,2021-04-07,13,14,0.928571,Yes,April,4,183,286,0.639860,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1097,PEH,2021-12-27,3,3,1.000000,Yes,December,12,263,267,0.985019,Yes
1098,PEH,2021-12-28,11,11,1.000000,Yes,December,12,263,267,0.985019,Yes
1099,PEH,2021-12-29,7,7,1.000000,Yes,December,12,263,267,0.985019,Yes
1100,PEH,2021-12-30,9,9,1.000000,Yes,December,12,263,267,0.985019,Yes
1101,PEH,2021-12-31,10,10,1.000000,Yes,December,12,263,267,0.985019,Yes

In [422]:
#drop Date_y, Month
dfinal_kpi_percent.drop(['Month', 'Date_y'], axis=1, inplace=True)
#rename Date_x to Date
dfinal_kpi_percent.rename(columns={'Date_x':"Date"}, inplace=True)

In [423]:
dfinal_kpi_percent

,Hospital,Date,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth
0,GEH,2021-04-01,14,15,0.933333,Yes,183,286,0.639860,No
1,GEH,2021-04-03,1,1,1.000000,Yes,183,286,0.639860,No
2,GEH,2021-04-05,5,6,0.833333,No,183,286,0.639860,No
3,GEH,2021-04-06,11,14,0.785714,No,183,286,0.639860,No
4,GEH,2021-04-07,13,14,0.928571,Yes,183,286,0.639860,No
...,...,...,...,...,...,...,...,...,...,...
1097,PEH,2021-12-27,3,3,1.000000,Yes,263,267,0.985019,Yes
1098,PEH,2021-12-28,11,11,1.000000,Yes,263,267,0.985019,Yes
1099,PEH,2021-12-29,7,7,1.000000,Yes,263,267,0.985019,Yes
1100,PEH,2021-12-30,9,9,1.000000,Yes,263,267,0.985019,Yes
1101,PEH,2021-12-31,10,10,1.000000,Yes,263,267,0.985019,Yes

#### Merge ALL KPI new indicators with Original KPI df

In [424]:
#convert Date to DateTime format
df_kpi['Date'] = pd.to_datetime(df_kpi['Date'], format='%Y-%m-%d').dt.date
dfinal_kpi_percent['Date'] = pd.to_datetime(dfinal_kpi_percent['Date'], format='%Y-%m-%d').dt.date

<ipython-input-424-9d1e4bf00742>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kpi['Date'] = pd.to_datetime(df_kpi['Date'], format='%Y-%m-%d').dt.date

In [426]:
dfinal_kpi = pd.merge(df_kpi, dfinal_kpi_percent, on=['Date', 'Hospital'], how='left')
dfinal_kpi

,Date,Ward,Case Number,Hospital,No. of Drugs,Weekday,TAT,Meet KPI,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Process Time Issue,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth
0,2021-01-04,4A,3021000132.0,PEH,3.0,Monday,18.0,Yes,0 days 00:08:00,0 days 00:10:00,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
1,2021-01-04,3A,3020041950.0,PEH,NaN,Monday,10.0,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
2,2021-01-04,3B,3021000166.0,PEH,2.0,Monday,15.0,Yes,0 days 00:35:00,0 days 00:05:00,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
3,2021-01-04,DAY,3021000242.0,PEH,NaN,Monday,11.0,Yes,0 days 00:11:00,NaN,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
4,2021-01-04,4B,3020044361.0,PEH,NaN,Monday,10.0,Yes,0 days 00:10:00,NaN,0 days 00:12:30,0 days 00:01:52,0 days 00:13:10,0 days 00:16:21,No,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33197,2021-12-31,8,4021107656,MNH,1,Friday,10.0,Yes,NaN,0 days 00:10:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,No,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33198,2021-12-31,12,4021107518,MNH,1,Friday,12.0,Yes,NaN,NaN,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,No,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33199,2021-12-31,11,4021107644,MNH,3,Friday,26.0,No,0 days 00:09:00,0 days 00:17:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33200,2021-12-31,6,4021108689,MNH,2,Friday,42.0,No,0 days 00:10:00,0 days 00:32:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33201,2021-12-31,6Peds,4021108267,MNH,4,Friday,25.0,Yes,0 days 00:05:00,0 days 00:20:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,No,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No

#### KPI == NO

In [427]:
dfinal_kpi[dfinal_kpi['Meet KPI']=='No']

,Date,Ward,Case Number,Hospital,No. of Drugs,Weekday,TAT,Meet KPI,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Process Time Issue,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth
199,2021-01-25,4B,3021002435.0,PEH,6.0,Monday,57.0,No,0 days 00:02:00,0 days 01:55:00,0 days 00:09:30,0 days 00:16:00,0 days 00:13:10,0 days 00:16:21,Yes,11.0,12.0,0.916667,Yes,266.0,269.0,0.988848,Yes
211,2021-01-26,3B,3021002242.0,PEH,4.0,Tuesday,59.0,No,0 days 00:30:00,0 days 00:40:00,0 days 00:13:00,0 days 00:07:21,0 days 00:13:10,0 days 00:16:21,Yes,15.0,17.0,0.882353,Yes,266.0,269.0,0.988848,Yes
212,2021-01-26,3B,3021002640.0,PEH,1.0,Tuesday,59.0,No,0 days 01:00:00,0 days 00:35:00,0 days 00:13:00,0 days 00:07:21,0 days 00:13:10,0 days 00:16:21,Yes,15.0,17.0,0.882353,Yes,266.0,269.0,0.988848,Yes
480,2021-02-25,3B,3021006433.0,PEH,7.0,Thursday,46.0,No,0 days 00:45:00,0 days 00:18:00,0 days 00:19:48,0 days 00:10:24,0 days 00:18:46,0 days 00:15:12,Yes,14.0,15.0,0.933333,Yes,230.0,232.0,0.991379,Yes
560,2021-03-05,3B,3021006885.0,PEH,6,Friday,48.0,No,0 days 00:55:00,0 days 00:05:00,0 days 00:18:26,0 days 00:05:26,0 days 00:18:27,0 days 00:13:41,Yes,15.0,16.0,0.937500,Yes,348.0,350.0,0.994286,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33191,2021-12-31,6,4021105764,MNH,1,Friday,229.0,No,0 days 00:05:00,0 days 03:44:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33194,2021-12-31,6Peds,4021108306,MNH,1,Friday,32.0,No,0 days 00:14:00,0 days 00:18:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33196,2021-12-31,8,4021107490,MNH,2,Friday,38.0,No,0 days 00:16:00,0 days 00:22:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33199,2021-12-31,11,4021107644,MNH,3,Friday,26.0,No,0 days 00:09:00,0 days 00:17:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No
33200,2021-12-31,6,4021108689,MNH,2,Friday,42.0,No,0 days 00:10:00,0 days 00:32:00,0 days 00:07:00,0 days 00:26:58,0 days 00:13:33,0 days 00:38:24,Yes,18.0,44.0,0.409091,No,502.0,1540.0,0.325974,No