# Pharmacy Department - Why KPI is not met

In this section, we will look at why certain cases do not meet KPI. 

This can due to the process time taken to complete each case or if a particular ward is overloading etc.

In [189]:
import pandas as pd
import numpy as np

In [190]:
pd.set_option('display.max_columns', None)

In [191]:
df = pd.read_csv("../../Data/Pharmacy Dept/Data Cleaning/Merged_Pharmacy_Dept_CLEANED.csv")

df.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3,5,7,8,9,10,11,12,13,14,15,16,30,31,32,33,34,35,37,38,39,40,41,42,44,45,46,47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date,Ward,Room/Bed,Case Number,DateTime TTO Received,DateTime (Meds Sent Down),DateTime TTO Checked,DateTime (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML,No PML Remarks,Weekday,DateTime TTO Dispensed,TAT,Meet KPI,Office Hours,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Hospital,TTO Type,Checked by,Time to meet,Counselled by,Limo Service,Room_x,Room_y,DateTime (Dispensing),DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Time Taken (Nurse to Dispense),Case in Pigeon?,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time Taken to Pack,Process Time Issue
0,2021-01-04,4A,4811.0,3021000132.0,2021-01-04 09:52:00,NaN,2021-01-04 10:00:00,2021-01-04 10:10:00,NaN,TFP,00:08:00,00:18:00,3.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 10:10:00,18.0,Yes,Yes,0 days 00:08:00.000000000,0 days 00:10:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
1,2021-01-04,3A,3828.0,3020041950.0,2021-01-04 08:34:00,NaN,2021-01-04 08:44:00,NaN,NaN,TFP,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:44:00,10.0,Yes,Yes,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,2021-01-04,3B,3606.0,3021000166.0,2021-01-04 09:15:00,2021-01-04 09:40:00,2021-01-04 09:50:00,2021-01-04 09:55:00,NaN,TFP,00:10:00,00:15:00,2.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 09:55:00,15.0,Yes,Yes,0 days 00:35:00.000000000,0 days 00:05:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,2021-01-04,DAY,2011.0,3021000242.0,2021-01-04 10:09:00,NaN,2021-01-04 10:20:00,NaN,NaN,TFP,00:11:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 10:20:00,11.0,Yes,Yes,0 days 00:11:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4,2021-01-04,4B,4610.0,3020044361.0,2021-01-04 08:37:00,NaN,2021-01-04 08:47:00,NaN,PATIENT FOR HOME ON WED,YSM,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:47:00,10.0,Yes,Yes,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33202 entries, 0 to 33201
Data columns (total 49 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                33202 non-null  object
 1   Ward                                                30318 non-null  object
 2   Room/Bed                                            19237 non-null  object
 3   Case Number                                         33202 non-null  object
 4   DateTime TTO Received                               33169 non-null  object
 5   DateTime (Meds Sent Down)                           318 non-null    object
 6   DateTime TTO Checked                                29022 non-null  object
 7   DateTime (Counselled)                               1383 non-null   object
 8   Remarks                                             2992 non-null   object
 9   Checked By (Pharmacist)                             3243 non-null   object
 10  Time Taken (Ready for Collection)                   3244 non-null   object
 11  Time Taken (to Counselling)                         992 non-null    object
 12  No. of Drugs                                        19298 non-null  object
 13  Bedside Counselling Candidate                       3252 non-null   object
 14  Dispensed by                                        993 non-null    object
 15  PML                                                 563 non-null    object
 16  No PML Remarks                                      268 non-null    object
 17  Weekday                                             33202 non-null  object
 18  DateTime TTO Dispensed                              27106 non-null  object
 19  TAT                                                 27051 non-null  float64
 20  Meet KPI                                            26923 non-null  object
 21  Office Hours                                        27097 non-null  object
 22  Time Taken (Received to Checked)                    28763 non-null  object
 23  Time Taken (Checked to Dispensed)                   20786 non-null  object
 24  Avg Time Taken / Day (Received to Checked)          33201 non-null  object
 25  Avg Time Taken / Day (Checked to Dispensed)         32521 non-null  object
 26  Month                                               33202 non-null  object
 27  Avg Time Taken / Month (Received to Checked)        33202 non-null  object
 28  Avg Time Taken / Month (Checked to Dispensed)       33202 non-null  object
 29  Hospital                                            33202 non-null  object
 30  TTO Type                                            2794 non-null   object
 31  Checked by                                          466 non-null    object
 32  Time to meet                                        491 non-null    object
 33  Counselled by                                       420 non-null    object
 34  Limo Service                                        1 non-null      object
 35  Room_x                                              2312 non-null   object
 36  Room_y                                              490 non-null    float64
 37  DateTime (Dispensing)                               6149 non-null   object
 38  DateTime (in Pharmacy)                              2233 non-null   object
 39  DateTime (in Pigeon)                                5430 non-null   object
 40  DateTime (Dispensed by Nurses)                      960 non-null    object
 41  DateTime (Passed to Nurse)                          281 non-null    object
 42  Time Taken (Nurse to Dispense)                      50 non-null     object
 43  Case in Pigeon?                                     11635 non-null  float64
 44  Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 45  Time Taken To Pack (mins)                           15474 non-null  object
 46  Time Taken to Reach Pt (mins)                       15502 non-null  object
 47  Time Taken to Pack                                  15465 non-null  object
 48  Process Time Issue                                  33202 non-null  object
dtypes: float64(3), object(46)
memory usage: 12.4+ MB

## KPI Analysis

Extracting columns that are needed to calculate the percentage of KPI met per day and per month.

In [193]:
#Extract those that needed only
df_kpi = df[['Date', 'Ward', 'Room/Bed', 'Case Number', 'Hospital', 'No. of Drugs', 'Weekday', 'Office Hours', 'TAT', 'Meet KPI', 'Process Time Issue', 'Time Taken (Received to Checked)', 'Time Taken (Checked to Dispensed)', 'Avg Time Taken / Day (Received to Checked)', 'Avg Time Taken / Day (Checked to Dispensed)', 'Avg Time Taken / Month (Received to Checked)', 'Avg Time Taken / Month (Checked to Dispensed)']]
df_kpi

,Date,Ward,Room/Bed,Case Number,Hospital,No. of Drugs,Weekday,Office Hours,TAT,Meet KPI,Process Time Issue,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed)
0,2021-01-04,4A,4811.0,3021000132.0,PEH,3.0,Monday,Yes,18.0,Yes,No,0 days 00:08:00.000000000,0 days 00:10:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000
1,2021-01-04,3A,3828.0,3020041950.0,PEH,NaN,Monday,Yes,10.0,Yes,No,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000
2,2021-01-04,3B,3606.0,3021000166.0,PEH,2.0,Monday,Yes,15.0,Yes,No,0 days 00:35:00.000000000,0 days 00:05:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000
3,2021-01-04,DAY,2011.0,3021000242.0,PEH,NaN,Monday,Yes,11.0,Yes,No,0 days 00:11:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000
4,2021-01-04,4B,4610.0,3020044361.0,PEH,NaN,Monday,Yes,10.0,Yes,No,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33197,2021-12-31 00:00:00,8,824,4021107656,MNH,1,Friday,Yes,10.0,Yes,No,NaN,0 days 00:10:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
33198,2021-12-31 00:00:00,12,1205,4021107518,MNH,1,Friday,Yes,12.0,Yes,No,NaN,NaN,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
33199,2021-12-31 00:00:00,11,1131,4021107644,MNH,3,Friday,Yes,26.0,No,Yes,0 days 00:09:00.000000000,0 days 00:17:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
33200,2021-12-31 00:00:00,6,622,4021108689,MNH,2,Friday,Yes,42.0,No,Yes,0 days 00:10:00.000000000,0 days 00:32:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
33201,2021-12-31 00:00:00,6Peds,609,4021108267,MNH,4,Friday,Yes,25.0,Yes,No,0 days 00:05:00.000000000,0 days 00:20:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000

In [194]:
df_kpi[df_kpi['Meet KPI'].isnull()]

,Date,Ward,Room/Bed,Case Number,Hospital,No. of Drugs,Weekday,Office Hours,TAT,Meet KPI,Process Time Issue,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed)
401,2021-02-17,3A,3821.0,3021005452.0,PEH,NaN,Wednesday,NaN,NaN,NaN,No,NaN,NaN,-11862 days +16:12:04.000000000,-11862 days +16:03:18.000000000,0 days 00:18:46.000000000,0 days 00:15:12.000000000
1215,2021-05-10,3A,3824.0,3021014976.0,PEH,NaN,Monday,Yes,NaN,NaN,No,-1 days +23:05:00.000000000,NaN,0 days 00:12:27.000000000,0 days 00:01:49.000000000,0 days 00:17:35.000000000,0 days 00:14:03.000000000
1416,2021-06-04,4B,4609.0,3021018969.0,PEH,NaN,Friday,NaN,NaN,NaN,No,NaN,NaN,-7626 days +20:43:54.000000000,-7626 days +20:36:33.000000000,0 days 00:13:14.000000000,0 days 00:14:47.000000000
2003,2021-08-19,NaN,NaN,dd,PEH,NaN,Thursday,Yes,NaN,NaN,No,0 days 14:08:00.000000000,NaN,0 days 01:32:54.000000000,0 days 00:00:18.000000000,0 days 00:21:50.000000000,0 days 00:16:13.000000000
2005,2021-08-20,NaN,NaN,EMPTY,PEH,5.0,Friday,Yes,NaN,NaN,No,0 days 09:22:00.000000000,0 days 00:18:00.000000000,0 days 01:06:46.000000000,0 days 00:04:00.000000000,0 days 00:21:50.000000000,0 days 00:16:13.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32824,2021-12-23 00:00:00,9,916,4021102989,MNH,4,Thursday,Yes,0.0,NaN,No,NaN,NaN,0 days 00:11:16.000000000,0 days 00:27:04.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
32866,2021-12-23 00:00:00,2,203,4021106317,MNH,3,Thursday,Yes,-106.0,NaN,No,NaN,NaN,0 days 00:11:16.000000000,0 days 00:27:04.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
33099,2021-12-30 00:00:00,8,821,4021107503,MNH,4,Thursday,Yes,-54.0,NaN,No,-1 days +22:09:00.000000000,0 days 00:57:00.000000000,-1 days +23:49:30.000000000,0 days 00:50:53.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
33149,2021-12-30 00:00:00,Endo,460,4021108235,MNH,4,Thursday,Yes,-10.0,NaN,No,-1 days +23:40:00.000000000,0 days 00:10:00.000000000,-1 days +23:49:30.000000000,0 days 00:50:53.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000
33167,2021-12-31 00:00:00,11,1106,4021108307,MNH,4,Friday,Yes,-27.0,NaN,No,-1 days +23:13:00.000000000,0 days 00:20:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000

### Percentage of KPI met / Day

Understanding the percentage of KPI that are met per day. 
Taking into assumption of ignoring outliers.

In [195]:
#create new dataframe to calculate no. of KPI / day
df_kpi_sum = df_kpi[['Date', 'Hospital', 'Meet KPI']]
df_kpi_sum.head()

         Date Hospital Meet KPI
0  2021-01-04      PEH      Yes
1  2021-01-04      PEH      Yes
2  2021-01-04      PEH      Yes
3  2021-01-04      PEH      Yes
4  2021-01-04      PEH      Yes

In [196]:
df_kpi_sum.isnull().sum()

Date           0
Hospital       0
Meet KPI    6279
dtype: int64

In [197]:
df_kpi_sum[df_kpi_sum['Meet KPI'].isnull()]

                      Date Hospital Meet KPI
401             2021-02-17      PEH      NaN
1215            2021-05-10      PEH      NaN
1416            2021-06-04      PEH      NaN
2003            2021-08-19      PEH      NaN
2005            2021-08-20      PEH      NaN
...                    ...      ...      ...
32824  2021-12-23 00:00:00      MNH      NaN
32866  2021-12-23 00:00:00      MNH      NaN
33099  2021-12-30 00:00:00      MNH      NaN
33149  2021-12-30 00:00:00      MNH      NaN
33167  2021-12-31 00:00:00      MNH      NaN

[6279 rows x 3 columns]

In [198]:
#convert Meet KPI (Yes/No) to 1/0
df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].replace(to_replace=['Yes', 'No'], value = ['1', '0'])
df_kpi_sum

<ipython-input-198-51b562c45410>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].replace(to_replace=['Yes', 'No'], value = ['1', '0'])

                      Date Hospital Meet KPI
0               2021-01-04      PEH        1
1               2021-01-04      PEH        1
2               2021-01-04      PEH        1
3               2021-01-04      PEH        1
4               2021-01-04      PEH        1
...                    ...      ...      ...
33197  2021-12-31 00:00:00      MNH        1
33198  2021-12-31 00:00:00      MNH        1
33199  2021-12-31 00:00:00      MNH        0
33200  2021-12-31 00:00:00      MNH        0
33201  2021-12-31 00:00:00      MNH        1

[33202 rows x 3 columns]

In [199]:
#drop Meet KPI = NaN
df_kpi_sum = df_kpi_sum.dropna()

In [200]:
df_kpi_sum.isnull().sum()

Date        0
Hospital    0
Meet KPI    0
dtype: int64

In [201]:
#set Meet KPI type as int
df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].astype(str).astype(int)

<ipython-input-201-03cb53855394>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kpi_sum['Meet KPI'] = df_kpi_sum['Meet KPI'].astype(str).astype(int)

In [202]:
#Get No. of Cases that Meet KPI per day
df_kpi_sum_day = df_kpi_sum.groupby(['Hospital', pd.to_datetime(df_kpi_sum['Date']).dt.date]).sum()
df_kpi_sum_day

                     Meet KPI
Hospital Date
GEH      2021-04-01        14
         2021-04-03         1
         2021-04-05         5
         2021-04-06        11
         2021-04-07        13
...                       ...
PEH      2021-12-27         3
         2021-12-28        11
         2021-12-29         7
         2021-12-30         9
         2021-12-31        10

[1102 rows x 1 columns]

In [203]:
#create new dataframe to calculate No. of Cases / Day
df_case_sum = df_kpi[['Date', 'Hospital', 'Meet KPI']]
df_case_sum

                      Date Hospital Meet KPI
0               2021-01-04      PEH      Yes
1               2021-01-04      PEH      Yes
2               2021-01-04      PEH      Yes
3               2021-01-04      PEH      Yes
4               2021-01-04      PEH      Yes
...                    ...      ...      ...
33197  2021-12-31 00:00:00      MNH      Yes
33198  2021-12-31 00:00:00      MNH      Yes
33199  2021-12-31 00:00:00      MNH       No
33200  2021-12-31 00:00:00      MNH       No
33201  2021-12-31 00:00:00      MNH      Yes

[33202 rows x 3 columns]

In [204]:
df_case_sum.isnull().sum()

Date           0
Hospital       0
Meet KPI    6279
dtype: int64

In [205]:
df_case_sum = df_case_sum[df_case_sum['Meet KPI'].notnull()]
df_case_sum['Case Count'] = 1
df_case_sum

<ipython-input-205-5b7743d6ceed>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_case_sum['Case Count'] = 1

                      Date Hospital Meet KPI  Case Count
0               2021-01-04      PEH      Yes           1
1               2021-01-04      PEH      Yes           1
2               2021-01-04      PEH      Yes           1
3               2021-01-04      PEH      Yes           1
4               2021-01-04      PEH      Yes           1
...                    ...      ...      ...         ...
33197  2021-12-31 00:00:00      MNH      Yes           1
33198  2021-12-31 00:00:00      MNH      Yes           1
33199  2021-12-31 00:00:00      MNH       No           1
33200  2021-12-31 00:00:00      MNH       No           1
33201  2021-12-31 00:00:00      MNH      Yes           1

[26923 rows x 4 columns]

In [206]:
df_case_sum.drop(['Meet KPI'], axis=1, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [207]:
#Get No. of Cases Per Day
df_case_sum_day = df_case_sum.groupby(['Hospital', pd.to_datetime(df_case_sum['Date']).dt.date]).sum()
df_case_sum_day

                     Case Count
Hospital Date
GEH      2021-04-01          15
         2021-04-03           1
         2021-04-05           6
         2021-04-06          13
         2021-04-07          13
...                         ...
PEH      2021-12-27           3
         2021-12-28          11
         2021-12-29           7
         2021-12-30           9
         2021-12-31          10

[1102 rows x 1 columns]

In [208]:
#merge both No. of Cases that meet KPI and No. Cases / Day
df_kpi_percent_day = pd.merge(df_kpi_sum_day, df_case_sum_day, on=['Hospital', 'Date'])
df_kpi_percent_day

                     Meet KPI  Case Count
Hospital Date
GEH      2021-04-01        14          15
         2021-04-03         1           1
         2021-04-05         5           6
         2021-04-06        11          13
         2021-04-07        13          13
...                       ...         ...
PEH      2021-12-27         3           3
         2021-12-28        11          11
         2021-12-29         7           7
         2021-12-30         9           9
         2021-12-31        10          10

[1102 rows x 2 columns]

In [209]:
df_kpi_percent_day['%KPI / Day'] = df_kpi_percent_day['Meet KPI']/df_kpi_percent_day['Case Count']
df_kpi_percent_day

                     Meet KPI  Case Count  %KPI / Day
Hospital Date
GEH      2021-04-01        14          15    0.933333
         2021-04-03         1           1    1.000000
         2021-04-05         5           6    0.833333
         2021-04-06        11          13    0.846154
         2021-04-07        13          13    1.000000
...                       ...         ...         ...
PEH      2021-12-27         3           3    1.000000
         2021-12-28        11          11    1.000000
         2021-12-29         7           7    1.000000
         2021-12-30         9           9    1.000000
         2021-12-31        10          10    1.000000

[1102 rows x 3 columns]

In [210]:
#if 85% meet KPI / day: Yes, Else No
df_kpi_percent_day['85% Meet KPI / Day'] = np.where((df_kpi_percent_day['%KPI / Day'] >= 0.85), 'Yes', 'No')
df_kpi_percent_day

                     Meet KPI  Case Count  %KPI / Day 85% Meet KPI / Day
Hospital Date
GEH      2021-04-01        14          15    0.933333                Yes
         2021-04-03         1           1    1.000000                Yes
         2021-04-05         5           6    0.833333                 No
         2021-04-06        11          13    0.846154                 No
         2021-04-07        13          13    1.000000                Yes
...                       ...         ...         ...                ...
PEH      2021-12-27         3           3    1.000000                Yes
         2021-12-28        11          11    1.000000                Yes
         2021-12-29         7           7    1.000000                Yes
         2021-12-30         9           9    1.000000                Yes
         2021-12-31        10          10    1.000000                Yes

[1102 rows x 4 columns]

### Percentage of KPI met / Month

Understanding the percentage of KPI that are met per month. Taking into assumption of ignoring outliers.

In [211]:
#Get No. of KPI met Per Month
df_kpi_sum_mth = df_kpi_sum.groupby(['Hospital', pd.to_datetime(df_kpi_sum['Date']).dt.month]).sum()
df_kpi_sum_mth

               Meet KPI
Hospital Date
GEH      4          183
         5          135
         6          183
         7          186
         8          177
         9          204
         10         165
         11         131
         12         200
MEH      1         1022
         4          520
         5          482
         6          617
         7           22
         8          393
         9          610
         10           2
         11         520
         12        1378
MNH      1          266
         2          310
         3          345
         4          420
         5          462
         6          518
         7          509
         8          447
         9          622
         10         455
         11         487
         12         502
PEH      1          266
         2          230
         3          348
         4          287
         5          236
         6          252
         7          224
         8          239
         9          339
         10         283
         11         246
         12         263

In [212]:
#Get No. of Cases Per Month
df_case_sum_mth = df_case_sum.groupby(['Hospital', pd.to_datetime(df_case_sum['Date']).dt.month]).sum()
df_case_sum_mth

               Case Count
Hospital Date
GEH      4            245
         5            181
         6            283
         7            309
         8            273
         9            280
         10           269
         11           207
         12           287
MEH      1           1066
         4            545
         5            501
         6            659
         7             28
         8            456
         9            674
         10             2
         11           545
         12          1434
MNH      1           1057
         2            851
         3           1071
         4           1157
         5           1295
         6           1415
         7           1395
         8           1440
         9           1466
         10          1294
         11          1462
         12          1530
PEH      1            269
         2            231
         3            350
         4            287
         5            240
         6            255
         7            228
         8            242
         9            344
         10           284
         11           249
         12           267

In [213]:
#merge both No. of Cases that meet KPI and No. Cases / Month
df_kpi_percent_mth = pd.merge(df_kpi_sum_mth, df_case_sum_mth, on=['Hospital', 'Date'])
df_kpi_percent_mth

               Meet KPI  Case Count
Hospital Date
GEH      4          183         245
         5          135         181
         6          183         283
         7          186         309
         8          177         273
         9          204         280
         10         165         269
         11         131         207
         12         200         287
MEH      1         1022        1066
         4          520         545
         5          482         501
         6          617         659
         7           22          28
         8          393         456
         9          610         674
         10           2           2
         11         520         545
         12        1378        1434
MNH      1          266        1057
         2          310         851
         3          345        1071
         4          420        1157
         5          462        1295
         6          518        1415
         7          509        1395
         8          447        1440
         9          622        1466
         10         455        1294
         11         487        1462
         12         502        1530
PEH      1          266         269
         2          230         231
         3          348         350
         4          287         287
         5          236         240
         6          252         255
         7          224         228
         8          239         242
         9          339         344
         10         283         284
         11         246         249
         12         263         267

In [214]:
df_kpi_percent_mth['%KPI / Mth'] = df_kpi_percent_mth['Meet KPI']/df_kpi_percent_mth['Case Count']
df_kpi_percent_mth

               Meet KPI  Case Count  %KPI / Mth
Hospital Date
GEH      4          183         245    0.746939
         5          135         181    0.745856
         6          183         283    0.646643
         7          186         309    0.601942
         8          177         273    0.648352
         9          204         280    0.728571
         10         165         269    0.613383
         11         131         207    0.632850
         12         200         287    0.696864
MEH      1         1022        1066    0.958724
         4          520         545    0.954128
         5          482         501    0.962076
         6          617         659    0.936267
         7           22          28    0.785714
         8          393         456    0.861842
         9          610         674    0.905045
         10           2           2    1.000000
         11         520         545    0.954128
         12        1378        1434    0.960948
MNH      1          266        1057    0.251656
         2          310         851    0.364277
         3          345        1071    0.322129
         4          420        1157    0.363008
         5          462        1295    0.356757
         6          518        1415    0.366078
         7          509        1395    0.364875
         8          447        1440    0.310417
         9          622        1466    0.424284
         10         455        1294    0.351623
         11         487        1462    0.333105
         12         502        1530    0.328105
PEH      1          266         269    0.988848
         2          230         231    0.995671
         3          348         350    0.994286
         4          287         287    1.000000
         5          236         240    0.983333
         6          252         255    0.988235
         7          224         228    0.982456
         8          239         242    0.987603
         9          339         344    0.985465
         10         283         284    0.996479
         11         246         249    0.987952
         12         263         267    0.985019

In [215]:
#if 85% meet KPI / day: Yes, Else No
df_kpi_percent_mth['85% Meet KPI / Mth'] = np.where((df_kpi_percent_mth['%KPI / Mth'] >= 0.85), 'Yes', 'No')
df_kpi_percent_mth

               Meet KPI  Case Count  %KPI / Mth 85% Meet KPI / Mth
Hospital Date
GEH      4          183         245    0.746939                 No
         5          135         181    0.745856                 No
         6          183         283    0.646643                 No
         7          186         309    0.601942                 No
         8          177         273    0.648352                 No
         9          204         280    0.728571                 No
         10         165         269    0.613383                 No
         11         131         207    0.632850                 No
         12         200         287    0.696864                 No
MEH      1         1022        1066    0.958724                Yes
         4          520         545    0.954128                Yes
         5          482         501    0.962076                Yes
         6          617         659    0.936267                Yes
         7           22          28    0.785714                 No
         8          393         456    0.861842                Yes
         9          610         674    0.905045                Yes
         10           2           2    1.000000                Yes
         11         520         545    0.954128                Yes
         12        1378        1434    0.960948                Yes
MNH      1          266        1057    0.251656                 No
         2          310         851    0.364277                 No
         3          345        1071    0.322129                 No
         4          420        1157    0.363008                 No
         5          462        1295    0.356757                 No
         6          518        1415    0.366078                 No
         7          509        1395    0.364875                 No
         8          447        1440    0.310417                 No
         9          622        1466    0.424284                 No
         10         455        1294    0.351623                 No
         11         487        1462    0.333105                 No
         12         502        1530    0.328105                 No
PEH      1          266         269    0.988848                Yes
         2          230         231    0.995671                Yes
         3          348         350    0.994286                Yes
         4          287         287    1.000000                Yes
         5          236         240    0.983333                Yes
         6          252         255    0.988235                Yes
         7          224         228    0.982456                Yes
         8          239         242    0.987603                Yes
         9          339         344    0.985465                Yes
         10         283         284    0.996479                Yes
         11         246         249    0.987952                Yes
         12         263         267    0.985019                Yes

### Understanding the difference between KPI met / Day and / Month

#### Merge KPI met /  Day and / Month

In [216]:
#reset index
df_kpi_percent_day = df_kpi_percent_day.reset_index()
df_kpi_percent_day.head()

  Hospital       Date  Meet KPI  Case Count  %KPI / Day 85% Meet KPI / Day
0      GEH 2021-04-01        14          15    0.933333                Yes
1      GEH 2021-04-03         1           1    1.000000                Yes
2      GEH 2021-04-05         5           6    0.833333                 No
3      GEH 2021-04-06        11          13    0.846154                 No
4      GEH 2021-04-07        13          13    1.000000                Yes

In [217]:
#reset index
df_kpi_percent_mth = df_kpi_percent_mth.reset_index()
df_kpi_percent_mth.head()

  Hospital  Date  Meet KPI  Case Count  %KPI / Mth 85% Meet KPI / Mth
0      GEH     4       183         245    0.746939                 No
1      GEH     5       135         181    0.745856                 No
2      GEH     6       183         283    0.646643                 No
3      GEH     7       186         309    0.601942                 No
4      GEH     8       177         273    0.648352                 No

In [218]:
#add Month column to both df for easy merge
df_kpi_percent_day['Month'] = pd.to_datetime(df_kpi_percent_day['Date']).dt.month_name()
df_kpi_percent_mth['Month'] = pd.to_datetime(df_kpi_percent_mth['Date'], format='%m').dt.month_name()

In [219]:
#rename variables for merge
df_kpi_percent_day.rename(columns={'Meet KPI':'Meet KPI / Day', 'Case Count':'Case Count / Day'}, inplace=True)
df_kpi_percent_mth.rename(columns={'Meet KPI':'Meet KPI / Mth', 'Case Count':'Case Count / Mth'}, inplace=True)

In [220]:
df_kpi_percent_day.head()

,Hospital,Date,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Month
0,GEH,2021-04-01,14,15,0.933333,Yes,April
1,GEH,2021-04-03,1,1,1.000000,Yes,April
2,GEH,2021-04-05,5,6,0.833333,No,April
3,GEH,2021-04-06,11,13,0.846154,No,April
4,GEH,2021-04-07,13,13,1.000000,Yes,April

In [221]:
df_kpi_percent_mth.head()

,Hospital,Date,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth,Month
0,GEH,4,183,245,0.746939,No,April
1,GEH,5,135,181,0.745856,No,May
2,GEH,6,183,283,0.646643,No,June
3,GEH,7,186,309,0.601942,No,July
4,GEH,8,177,273,0.648352,No,August

In [222]:
dfinal_kpi_percent = pd.merge(df_kpi_percent_day, df_kpi_percent_mth, on=['Hospital', 'Month'], how='left')
dfinal_kpi_percent

,Hospital,Date_x,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Month,Date_y,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth
0,GEH,2021-04-01,14,15,0.933333,Yes,April,4,183,245,0.746939,No
1,GEH,2021-04-03,1,1,1.000000,Yes,April,4,183,245,0.746939,No
2,GEH,2021-04-05,5,6,0.833333,No,April,4,183,245,0.746939,No
3,GEH,2021-04-06,11,13,0.846154,No,April,4,183,245,0.746939,No
4,GEH,2021-04-07,13,13,1.000000,Yes,April,4,183,245,0.746939,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1097,PEH,2021-12-27,3,3,1.000000,Yes,December,12,263,267,0.985019,Yes
1098,PEH,2021-12-28,11,11,1.000000,Yes,December,12,263,267,0.985019,Yes
1099,PEH,2021-12-29,7,7,1.000000,Yes,December,12,263,267,0.985019,Yes
1100,PEH,2021-12-30,9,9,1.000000,Yes,December,12,263,267,0.985019,Yes
1101,PEH,2021-12-31,10,10,1.000000,Yes,December,12,263,267,0.985019,Yes

In [223]:
#drop Date_y, Month
dfinal_kpi_percent.drop(['Month', 'Date_y'], axis=1, inplace=True)
#rename Date_x to Date
dfinal_kpi_percent.rename(columns={'Date_x':"Date"}, inplace=True)

In [224]:
dfinal_kpi_percent

,Hospital,Date,Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth
0,GEH,2021-04-01,14,15,0.933333,Yes,183,245,0.746939,No
1,GEH,2021-04-03,1,1,1.000000,Yes,183,245,0.746939,No
2,GEH,2021-04-05,5,6,0.833333,No,183,245,0.746939,No
3,GEH,2021-04-06,11,13,0.846154,No,183,245,0.746939,No
4,GEH,2021-04-07,13,13,1.000000,Yes,183,245,0.746939,No
...,...,...,...,...,...,...,...,...,...,...
1097,PEH,2021-12-27,3,3,1.000000,Yes,263,267,0.985019,Yes
1098,PEH,2021-12-28,11,11,1.000000,Yes,263,267,0.985019,Yes
1099,PEH,2021-12-29,7,7,1.000000,Yes,263,267,0.985019,Yes
1100,PEH,2021-12-30,9,9,1.000000,Yes,263,267,0.985019,Yes
1101,PEH,2021-12-31,10,10,1.000000,Yes,263,267,0.985019,Yes

#### Merge ALL KPI new indicators with Original KPI df

In [225]:
#convert Date to DateTime format
df_kpi['Date'] = pd.to_datetime(df_kpi['Date'], format='%Y-%m-%d').dt.date
dfinal_kpi_percent['Date'] = pd.to_datetime(dfinal_kpi_percent['Date'], format='%Y-%m-%d').dt.date

<ipython-input-225-9d1e4bf00742>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kpi['Date'] = pd.to_datetime(df_kpi['Date'], format='%Y-%m-%d').dt.date

In [226]:
dfinal_kpi = pd.merge(df_kpi, dfinal_kpi_percent, on=['Date', 'Hospital'], how='left')
dfinal_kpi

,Date,Ward,Room/Bed,Case Number,Hospital,No. of Drugs,Weekday,Office Hours,TAT,Meet KPI,Process Time Issue,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Meet KPI / Day,Case Count / Day,%KPI / Day,85% Meet KPI / Day,Meet KPI / Mth,Case Count / Mth,%KPI / Mth,85% Meet KPI / Mth
0,2021-01-04,4A,4811.0,3021000132.0,PEH,3.0,Monday,Yes,18.0,Yes,No,0 days 00:08:00.000000000,0 days 00:10:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
1,2021-01-04,3A,3828.0,3020041950.0,PEH,NaN,Monday,Yes,10.0,Yes,No,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
2,2021-01-04,3B,3606.0,3021000166.0,PEH,2.0,Monday,Yes,15.0,Yes,No,0 days 00:35:00.000000000,0 days 00:05:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
3,2021-01-04,DAY,2011.0,3021000242.0,PEH,NaN,Monday,Yes,11.0,Yes,No,0 days 00:11:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
4,2021-01-04,4B,4610.0,3020044361.0,PEH,NaN,Monday,Yes,10.0,Yes,No,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,0 days 00:13:10.000000000,0 days 00:16:21.000000000,8.0,8.0,1.000000,Yes,266.0,269.0,0.988848,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33197,2021-12-31,8,824,4021107656,MNH,1,Friday,Yes,10.0,Yes,No,NaN,0 days 00:10:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000,18.0,43.0,0.418605,No,502.0,1530.0,0.328105,No
33198,2021-12-31,12,1205,4021107518,MNH,1,Friday,Yes,12.0,Yes,No,NaN,NaN,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000,18.0,43.0,0.418605,No,502.0,1530.0,0.328105,No
33199,2021-12-31,11,1131,4021107644,MNH,3,Friday,Yes,26.0,No,Yes,0 days 00:09:00.000000000,0 days 00:17:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000,18.0,43.0,0.418605,No,502.0,1530.0,0.328105,No
33200,2021-12-31,6,622,4021108689,MNH,2,Friday,Yes,42.0,No,Yes,0 days 00:10:00.000000000,0 days 00:32:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000,18.0,43.0,0.418605,No,502.0,1530.0,0.328105,No
33201,2021-12-31,6Peds,609,4021108267,MNH,4,Friday,Yes,25.0,Yes,No,0 days 00:05:00.000000000,0 days 00:20:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,0 days 00:13:33.000000000,0 days 00:38:24.000000000,18.0,43.0,0.418605,No,502.0,1530.0,0.328105,No

#### Extracting KPI == NO for Power BI evaluation

In [227]:
dfinal_kpi_NO = dfinal_kpi[dfinal_kpi['Meet KPI']=='No']

In [228]:
dfinal_kpi_NO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11237 entries, 199 to 33200
Data columns (total 25 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           11237 non-null  object
 1   Ward                                           10225 non-null  object
 2   Room/Bed                                       10227 non-null  object
 3   Case Number                                    11237 non-null  object
 4   Hospital                                       11237 non-null  object
 5   No. of Drugs                                   10878 non-null  object
 6   Weekday                                        11237 non-null  object
 7   Office Hours                                   11237 non-null  object
 8   TAT                                            11237 non-null  float64
 9   Meet KPI                                       11237 non-null  object
 10  Process Time Issue                             11237 non-null  object
 11  Time Taken (Received to Checked)               9600 non-null   object
 12  Time Taken (Checked to Dispensed)              9585 non-null   object
 13  Avg Time Taken / Day (Received to Checked)     11237 non-null  object
 14  Avg Time Taken / Day (Checked to Dispensed)    11231 non-null  object
 15  Avg Time Taken / Month (Received to Checked)   11237 non-null  object
 16  Avg Time Taken / Month (Checked to Dispensed)  11237 non-null  object
 17  Meet KPI / Day                                 11237 non-null  float64
 18  Case Count / Day                               11237 non-null  float64
 19  %KPI / Day                                     11237 non-null  float64
 20  85% Meet KPI / Day                             11237 non-null  object
 21  Meet KPI / Mth                                 11237 non-null  float64
 22  Case Count / Mth                               11237 non-null  float64
 23  %KPI / Mth                                     11237 non-null  float64
 24  85% Meet KPI / Mth                             11237 non-null  object
dtypes: float64(7), object(18)
memory usage: 2.2+ MB

## Export to CSV

In [229]:
dfinal_kpi_NO.to_csv("../../Data/Pharmacy Dept/Why_KPI_Not_Met.csv", index=None, header=True)